<div id="dashboard_completed_page" class="pager" data-page_link="[data-page_target='dashboard_completed_page']">
<%= render :partial => '/layouts/subnav' %>
<div class="page_layout">
<h2>Recently Completed Tasks</h2>
<% if @tasks.any? %>
  <div class="list_container">
    <% @tasks.each_with_index do |task,index| %>
      <div data-list_index="<%= index %>">
        <%= render :partial => '/tasks/show', :locals => {:task => task} %>
      </div>
    <% end %>
  </div>
<% else %>
  You don't have any recently completed tasks. Go get some done!
<% end %>
</div>
</div>