<% if @tasks.length > 0 %>
  <h2>Active Tasks</h2>
  <div id="archive_completed_items" class="list_action" <% unless @this_user.tasks.complete.unorganized.any? %>style="display: none;"<% end %>>
    	<%= link_to 'archive completed tasks', archive_completed_tasks_url,
    	 	:'data-ajax_behavior' => 'ajax_link',
    		:'data-ajax_method' => 'GET',
    		:'data-ajax_success_callback' => "handleArchivementSuccess();" %>
  </div>
  <div id="unarchived_items_wrapper">
  	<% for task in @tasks %>
  		<div id="task_<%= task.id %>" class="row border_bottom">
  		<%= render :partial => 'show', :locals => {:task => task, :needs_organization => true} %>
  		</div>
  	<% end %>
  </div>
  <%= will_paginate @tasks %>
<% else %>
  <h2>You don't have any unorganized tasks right now.</h2>
  <% if @this_user.show_help_text %>
  
  <div class="explanatory">
    <p>When you use the dashboard to add a task, it's a quick way to get it into the system. Later when you have more time, preferably daily, you should come back and review the tasks you've added. You'll find them here, in the Unorganized Task list.<br/>&nbsp;<br/>While you're reviewing your new tasks you can check off any you've already completed and consider yourself accomplished. If you haven't completed a task, consider adding it to a plan or a label. If it is a task that involves multiple steps itself, you can convert it to a plan and add tasks to that plan to list the steps.</p>
  </div>
  <% end %>
<% end %>
