<div class="span-15">
	<h1>Situation:	<%= @situation.title %></h1>
</div>
<div class="span-2 last">
	<%= link_to 'edit title', edit_situation_url(@situation, :attribute => 'title'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'situation_title'
	%>
</div>
