<div class="span-16 last">
  <div class="list_action attach_above last<% if action_name == 'edit' %> selected<% end %>"><%= link_to 'edit situation', edit_situation_url(@situation) %></div>
  <div class="list_action attach_above<% if action_name == 'show' %> selected<% end %>"><%= link_to 'situation task list', situation_url(@situation) %></div>
</div>
