<div data-role="navbar" class="borderless section">
  <ul>
  <li><%= link_to 'situation task list', situation_url(@situation), :class => ((action_name == 'show') ? 'selected' : '') %></li>
  <li><%= link_to 'edit situation', edit_situation_url(@situation), :class => ((action_name == 'edit') ? 'selected' : '') %></li>
  </ul>
</div>
<div class="borderless section">&nbsp;</div>