<div class="span-17 last section_margin_top" id="header_wrapper">
  <div class="span-17 last">
    <h1>Situation</h1>
  </div>
  <%= render :partial => 'tabs' %>
</div>
<div class="span-17 last page_content">
  <div id="situation_title" class="span-16 last border_bottom">
	<%= render :partial => 'show_title' %>
	</div>
	  <div class="span-17 last">&nbsp;</div>
	  <div class="span-16 last">
    <div id="show_delete" class="list_action attributes" onclick="void(0)" data-behavior="attribute_control"><%= render :partial => 'show_delete', :locals => {:situation => @situation} %></div>
    </div>
</div>
