<div class="span-18 last section_margin_top" id="header_wrapper">
  <div id="situation_title" class="span-18 last">
  	<%= render :partial => 'show_title' %>
  </div>
  <%= render :partial => 'tabs' %>
</div>
<div class="span-19 last page_content">
    <div id="show_delete" class="list_action last"><%= render :partial => 'show_delete', :locals => {:situation => @situation} %></div>
</div>
