	<div class="span-12">
		<div class="line_item_height span-12 last">
      <%= textilize(comment.body).html_safe %>
		</div>
	</div>
	<div class="span-4 last">
	  <% if comment.user_id == @this_user.id %>
	  <div class="span-4 last text_right">
    <%= link_to 'edit', edit_comment_url(comment),
	    :'data-ajax_behavior' => 'ajax_link',
	    :'data-ajax_method' => 'GET',
	    :'data-ajax_success_element' => "comment_#{comment.id}" %>
    </div>
    <% end %>
    <div class="span-4 last small line_fixed_width">
      <div class="overflow_fade">&nbsp;</div>
      <div class="span-24">
      <%= comment.user.handle %>
      </div>
    </div>
    <div class="span-4 last small">
      <%= time_ago_in_words(comment.created_at) %> ago
    </div>
	</div>
