<div class="span-14">
  <h2><%= @folder.title %></h2>
</div>
<div class="span-2 last text_right">
	<%= link_to '(edit title)', edit_folder_url(@folder, :attribute => 'title'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'folder_title',
		:class => 'small'
	%>&nbsp;&nbsp;
</div>
