<h2>Task:</h2>
<%= form_for @task, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'task_title',
	:'data-ajax_error_element' => 'task_title'
} do |f| %>
	<%= f.text_field :title, :class => 'title' %>
	<%= hidden_field_tag 'attribute', 'title', :id => 'attribute_title_field' %>
	<button type="submit" class="row_item button round small light ">save title</button>
	<div class="row_item last padding_top_button small">&nbsp;or
	<%= link_to '(cancel)', task_url(@task),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'task_title',
		:'data-ajax_data' => "{attribute: 'title'}"%>
	</div>
<% end %>
