<h3>Plan</h3>
	<%= form_for @task, :html => {
		:'data-ajax_behavior' => 'ajax_form',
		:'data-ajax_method' => 'PUT',
		:'data-ajax_success_element' => 'task_project',
		:'data-ajax_error_element' => 'task_project'
	} do |f| %>
  <%  project_array = @this_user.projects.active
      (project_array = project_array | [@task.project]) if @task.project
      %>
	<%= f.select :project_id, [['none',nil]] + project_array.map{|p| [p.title,p.id]} %>
		<%= hidden_field_tag 'attribute', 'project_id' %>
  	<button type="submit" class="row_item button round small light ">save</button>
  	<div class="row_item last padding_top_button small">&nbsp;or
		<%= link_to '(cancel)', task_url(@task),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'GET',
			:'data-ajax_success_element' => 'task_project',
			:'data-ajax_data' => "{attribute: 'project_id'}"%>
		</div>
	<% end %>
