<h2>Plan</h2>
<div class="span-16 last section">
	<%= form_for @task, :html => {		:id => 'edit_task_project_id'
	} do |f| %>
	  <%  project_array = Project.for_user(@this_user).active
	      (project_array = project_array | [@task.project]) if @task.project
	      %>
		<%= f.grouped_collection_select :project_id, @this_user.folders, :projects, :title, :id, :title, {:include_blank => true}, :class => 'span-11', :rows => 4 %>
    <div class="span-5 last">
    	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
    	  <div class="button_content">save</div>
    	</div>
    	<div class="text_with_button small">
  		or   <%= link_to (@task.project ? 'cancel' : 'leave blank'), task_url(@task),
    		 	:'data-ajax_behavior' => 'ajax_link',
    			:'data-ajax_method' => 'GET',
    			:'data-ajax_success_element' => 'task_project',
    			:'data-ajax_data' => "{attribute: 'project_id'}"%>
      </div>
		</div>
	<% end %>
</div>