<%= form_for @task, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => "task_done",
	:id => 'edit_task_done'} do |f| %>
	<div class="text_with_check_box_proxy">
	<%= f.check_box :state, {:'data-behavior' => 'auto_submit'}, @task.archived? ? 'archived' : 'complete', 'active' %>
  <%= hidden_field_tag 'attribute','done', :id => 'attribute_done' %>
  </div>
  <div class="text_with_check_box_proxy">
    task accomplished
  </div>
<% end %>
