<div class="row_item">
	<h3>Plan</h3>
</div>
<div class="row_item last list_action h3_padding">
	<span onclick="void(0)" href="<%= edit_task_url(@task, :attribute => 'project_id') %>"
	 	data-ajax_behavior="ajax_link"
		data-ajax_method="GET"
		data-ajax_success_element="task_project_<%= @task.id %>"
		class="small"> 
</div>
<% if @task.project %><div class="block"><%= @task.project.title %></div><% end %>
