<%= form_for @task, :html => {
  :id => "edit_task_delete_#{@task.id}",
  :_method => 'delete',
  :method => 'delete'
} do |f| %>
<div class="otimes_icon row_item">&otimes;</div>
<div class="row_item">&nbsp;delete task</div>
<% end %>
