<a href="<%= task_url(task) %>"
	data-behavior="link_to_form"
	data-method="DELETE"
	data-confirm="Are you sure you want to delete this task?"
	class="delete" data-role="delete">&otimes;</a>
delete task