<div class="row_item delete" >
<%= form_for @task do |f| %>
<div onclick="void(0)" data-role="delete">&otimes;</div>
<% end %>
</div>
<div class="row_item last text_with_check_box_proxy">
delete task
</div>