	<div class="span-3">
		<h2>Plan</h2>
	</div>
	<div class="span-13 last">
    <div class="attribute_action">
  		<%= link_to (@task.project ? 'change plan' : 'add to a plan'), edit_task_url(@task, :attribute => 'project_id'),
  		 	:'data-ajax_behavior' => 'ajax_link',
  			:'data-ajax_method' => 'GET',
  			:'data-ajax_success_element' => 'task_project'
  		%>
    </div>
	</div>

	<div class="span-16 last section"><% if @task.project %><%= @task.project.title %><% else %>&nbsp; <% end %></div>
  