<div id="task_done" class="text_with_check_box_proxy in_header"><%= render :partial => 'show_done' %></div>
<div class="span-14">
<h1><span id="task_title_display" class="user_title"<% if @task.done? %> class="completed"<% end %>><%= @task.title %></span></h1></div>
<div class="span-2 last">
	<%= link_to 'edit title', edit_task_url(@project, :attribute => 'title'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'task_title'
	%>
</div>
