<div class="borderless section">
  <div onclick="void(0)" class="third_section<% if ['show','update','multiple','show_full'].include? action_name %> selected<% end %>" data-tab_switcher="true" data-tab_target="task_page_<%= @task.id %>">info
    <div class="shadow_hide">&nbsp;</div>
  </div>
  <div onclick="void(0)" class="third_section<% if action_name == 'comments' %> selected<% end %>" data-tab_switcher="true" data-tab_target="comments_task_page_<%= @task.id %>" style="visibility:hidden;">comments
    <div class="shadow_hide">&nbsp;</div>
  </div>
</div>
