<div class="span-16 last">
  <div class="list_action attach_above last<% if ['show','update'].include? action_name %> selected<% end %>"><%= link_to 'info', task_url(@task) %></div>
  <div class="list_action attach_above<% if action_name == 'comments' %> selected<% end %>"><%= link_to "comments(#{@task.comments.count})", comments_task_url(@task) %></div>
</div>
