<div class="span-16 last">
  <div class="list_action attach_above last<% if action_name == 'show' %> selected<% end %>"><%= link_to 'edit task', task_url(@task) %></div>
  <div class="list_action attach_above<% if action_name == 'comments' %> selected<% end %>"><%= link_to 'comments', comments_task_url(@task) %></div>
</div>
