<div class="span-18 last section_margin_top" id="header_wrapper">
	<h1>Archived Unorganized Tasks</h1>
</div>
<div class="span-19 last page_content">
  <div id="archived_item_heading" class="span-18 last">
		<h2>You got these done.</h2>
	</div>
	<div id="archived_items_wrapper" class="span-18 last archived section_wrapper" data-role="list">
    <div class="span-18 last line_item">
      <div class="span-9 text-center small">task title</div>
      <div class="span-4 small">&nbsp;&nbsp;plan</div>
      <div class="span-4 small">&nbsp;&nbsp;situation</div>
    </div>
		<% for task in @tasks %>
			<div class="span-18 last" id="task_<%= task.id %>" data-role="list_item">
				<%= render :partial => '/tasks/show', :locals => {:task => task} %>
			</div>
		<% end %>
	</div>
	<%= will_paginate @tasks %>
</div>