<h2><span class="user_title"<% if @task.complete? %> class="completed"<% end %>> <%= truncate_clean(@project.title, :length => 256, :omission => '...', :max_word_length => 20) %></span></h2>
<%= render :partial => 'tabs' %>
<%= render :partial => '/comments/index', :locals => {:commentable => @task} %>