<div class="span-17 last section_margin_top" id="header_wrapper">
	<h1>Unorganized Tasks</h1>
</div>
<div class="span-17 last page_content">
  <% if @this_user.tasks.unarchived.unorganized.count > 0 %>
  <div class="span-16 last">
    <div class="span-8">&nbsp;</div>
    <div class="span-8 last">
      <div id="archive_completed_items" class="list_action attach_above" <% unless @this_user.tasks.complete.unorganized.any? %>style="display: none;"<% end %>>
      	<%= link_to 'archive completed tasks', archive_completed_tasks_url,
      	 	:'data-ajax_behavior' => 'ajax_link',
      		:'data-ajax_method' => 'GET',
      		:'data-ajax_success_callback' => "handleArchivementSuccess();" %>
      </div>
    </div>
  </div>
  <div  id="unarchived_items_wrapper" data-role="list" class="span-16 last section_wrapper">
    <div class="span-16 last line_item">
      <div class="span-9 text-center small">task title</div>
      <div class="span-3 small">&nbsp;&nbsp;plan</div>
      <div class="span-3 small">&nbsp;&nbsp;situation</div>
    </div>
  	<% for task in @tasks %>
  		<div class="span-16 last" id="task_<%= task.id %>" data-role="list_item">
  		<%= render :partial => 'show', :locals => {:task => task, :needs_organization => true} %>
  		</div>
  	<% end %>
  </div>
	<div class="span-17">
  <%= will_paginate @tasks %>
  </div>
  <% else %>
  <p>You don't have any unorganized tasks right now.</p>
  <% if @this_user.show_help_text %>
    <div class="span-16 last">
      <p class="explanatory">When you use the dashboard to add a task, it's a quick way to get it into the system. Later when you have more time, preferably daily, you should come back and review the tasks you've added. You'll find them here, in the Unorganized Task list.<br/>&nbsp;<br/>While you're reviewing your new tasks you can check off any you've already completed and consider yourself accomplished. If you haven't completed a task, consider adding it to a plan or a situation. If it is a task that involves multiple steps itself, you can convert it to a plan and add tasks to that plan to list the steps.</p>
      
    </div>
    <% end %>
  <% end %>
</div>