<div class="span-18 last section_margin_top" id="header_wrapper">
	<h1>High Priority Tasks</h1>
</div>
<div class="span-19 last page_content">
	<% if @this_user.tasks.active.priority.count > 0 %>
		<div data-role="list" class="span-15 last section_wrapper">
			<h2>Hot stuff.</h2>
			<% for task in @this_user.tasks.active.priority %>
				<div class="span-15 last" id="task_<%= task.id %>" data-role="list_item">
				<%= render :partial => 'show', :locals => {:task => task} %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
