<div class="span-17 last section_margin_top" id="header_wrapper">
	<h1>Priority Tasks</h1>
</div>
<div class="span-19 last page_content">
	<% if @tasks.any? %>
	<h2>Hot stuff.</h2>
	<div data-role="list" class="span-16 last list_section">
    <div class="span-16 last line_item">
      <div class="span-9 append-3 text_center small">task title</div>
      <div class="span-3 small">&nbsp;&nbsp;plan</div>
    </div>
		<% for task in @tasks %>
			<div class="span-16 last" id="task_<%= task.id %>" data-role="list_item">
			<%= render :partial => 'show', :locals => {:task => task} %>
			</div>
		<% end %>
	</div>
	<%= will_paginate @tasks %>
  <% else %>
  <p>You don't have any priority tasks right now.</p>
  <% if @this_user.show_help_text %>
  <div class="span-16 last">
    <p class="explanatory">
    When you organize your newly entered tasks each day, you can mark a task with a priority star by clicking the star at the left of each task in the list. These priority tasks will appear here in the Priority Task list until they are completed. This is a good way to highlight tasks that need to be done quickly or have a higher importance than most of your tasks.
    </p>
  </div>
  <% end %>
	<% end %>
</div>
