<div class="page_layout">
  <div class="row text_center">
    <h3 class="coolvetica">Simple, Powerful Task Management</h3>
  </div>
  <div class="row">
    <div class="row_item right" id="beta_label">Beta Version</div>
  </div>
  <div class="list_container">
    <div class="block border_bottom padding">
      <h3 class="coolvetica text_center">Super simple.</h3>
      <ul>
        <li>Create tasks instantly, just start typing. Organize them later with plans, labels, folders, etc., or just check them off and bask in your accomplishment.</li>
        <li>Got recurring workflows? Press a button to turn a plan into a template for re-use.</li>
        <li><a href="/page/Pricing">Sign up</a> for a free 30-day trial in seconds.</li>
    </div>
    <div class="block border_bottom padding">
      <h3 class="coolvetica text_center">Share with anyone.</h3>
      <p>Share your plans with anyone, whether or not they have a <a href="/page/Pricing" class="coolvetica">Get Go</a> account. Share a grocery list collaborate on a consulting project.
      </p>
        <ul class="section_margin_top">
          <li>Each person can create their own folders, labels and reminders to organize tasks and plans in the way that makes sense to them.</li>
          <li>Comment threads, descriptions, due dates, and assignments bring everyone together to get stuff done.</li>
        </ul>
    </div>
    <div class="block border_bottom padding">
      <h3 class="coolvetica text_center">Access anywhere.</h3>
      <p>You can <a href="/page/Pricing" class="coolvetica">Get Going </a> from any desktop computer with a current web browser. You can also use <a href="/page/Pricing" class="coolvetica">Get Go</a> on any iPhone, iPad, iPod Touch, or Android phone. Other devices may let you <a href="/page/Pricing" class="coolvetica">Get Going </a> too.</p>
    </div>
    <div class="block border_bottom padding">
      <h3 class="coolvetica text_center">Sign up now.</h3>
      <p>What are you waiting for? There is no commitment to try <a href="/page/Pricing" class="coolvetica">Get Go</a> for free for 30 days. So click <a href="/page/Pricing">here</a> to <a href="/page/Pricing" class="coolvetica">Get Going</a>.</p>
    </div>
  </div>
</div>
