<div class="page_layout">
  <div class="row">
    <h3 class="coolvetica">Get Go Terms of Service</h3>
  </div>
  <div class="list_container">
    <div class="block border_bottom padding">
      <p>
      By using the getgolist.com web site (“Website”), a service of DigitalOllie, Inc. (“DigitalOllie”), you agree to be bound by the following terms and conditions (“Terms of Service”).<br/>

      You can review the most current version of the Terms of Service at any time at http://getgolist.com/terms. Digital Ollie reserves the right to alter the Terms of Service from time to time without notice. Any changes to the the current Website, including the release of new features, formats and layouts, shall be subject to the Terms of Service. Continued use of the Website after any such changes shall constitute your consent to such changes.
      </p>
      <p>
      We will terminate your account as a result of any violation of the terms below. You understand and agree that Digital Ollie cannot be responsible for the conduct of other users of the Website or the Content posted on the Website, even though Digital Ollie prohibits certain conduct and Content on the Website, and you nonetheless may be exposed to such conduct and Content. You agree to use the Website at your own risk.
      </p>

      <p>
      <h2>Account Terms</h2>

      <ul>
        <li>
      You must be 18 years of age or older to use the Website, or you must have permission from your legal guardian.
        </li>
        <li>
      You must be a human. Accounts registered by automated methods are not permitted and will be deleted immediately without notice.
        </li>
        <li>
      You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.
        </li>
        <li>
      You are responsible for maintaining the security of your account and password. Digital Ollie cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
        </li>
        <li>
      Only one person is allowed to use your login. A single login shared by multiple people is not permitted.
        </li>
        <li>
      You are responsible for all Content posted and activity that occurs under your account (even when certain Content is posted by others with whom you have shared access).
        </li>
        <li>
      You may not share unwanted content from the Website with anyone, nor in any way cause unwanted communication or content to be sent to anyone via the Website. This includes sharing projects, plans, tasks, or any other resource available on the Website.
        </li>
        <li>
      You must not, in the use of the Website, violate any laws in your jurisdiction (including but not limited to copyright laws).
        </li>
        <li>
      You may not use the Website for any illegal or unauthorized purpose.
        </li>
      </ul>
      </p>

      <p>
      <h2>Payment, Refunds, Upgrading and Downgrading Terms</h2>

      <ul>
        <li>
        A valid credit card is required for paying accounts and trial accounts, including new accounts created on a free trial basis. Free collaborator accounts are not required to provide a credit card number.
        </li>
        <li>
      If you sign up for a Basic, Super, or Unlimited account, and you don't cancel that account within 30 days, you will be billed monthly starting on the 30th day after your account was initially created. If you cancel prior to the processing of your first invoice on the 30th day, you will not be charged.
        </li>
        <li>
      The Website bills in advance on a monthly or yearly basis and is non-refundable. There will be no refunds or credits for partial months of service or upgrade/downgrade refunds.
        </li>
        <li>
      All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes.
        </li>
        <li>
      For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle.
        </li>
        <li>
      Downgrading your Website may cause the loss of Content, features, or capacity of your Account. Digital Ollie does not accept any liability for such loss.
        </li>
      </ul>
      </p>

      <p>
      <h2>Cancellation and Termination</h2>

      <ul>
        <li>
      It is your responsibility to ensure that your account has been properly cancelled. An arbitrary email requesting an account to be cancelled is not considered a cancellation. You can cancel your account at any time by clicking on the Account link in the navigation bar at the top of the screen. The Account screen provides a simple cancellation link.
        </li>
        <li>
      All of your Content will be immediately deleted from the Website upon cancellation. This information is irretrievable once your account is cancelled.
        </li>
        <li>
      Your cancellation will take effect immediately and you will not be charged again.
        </li>
        <li>
      Digital Ollie, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Website, or any other Digital Ollie service, for any reason at any time. Such termination of the Website will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. Digital Ollie reserves the right to refuse service to anyone for any reason at any time.
        </li>
      </ul>
      </p>

      <p>
      <h2>Modifications to the Website and Prices</h2>

      <ul>
        <li>
      Digital Ollie reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website (or any part thereof) with or without notice.
        </li>
        <li>
      Prices for the Website, including but not limited to monthly subscription plan fees to the Website, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Website.
        </li>
        <li>
      Digital Ollie shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Website.
        </li>
      </ul>
      </p>

      <p>
      <h2>Copyright and Content Ownership</h2>

      <ul>
        <li>
      Any Content posted on the Website must comply with U.S. copyright law.
        </li>
        <li>
      Digital Ollie claims no intellectual property rights over the material you provide to the Website. Your profile and materials uploaded remain yours. However, by setting your pages to be shared, you agree to allow others to view and share your Content.
        </li>
        <li>
      Digital Ollie does not screen Content, but Digital Ollie and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Website.
        </li>
        <li>
      The look and feel of the Website is copyright©2011 Digital Ollie, Inc. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS/Javascript or visual design elements without express written permission from Digital Ollie.
        </li>
      </ul>
      </p>

      <p>
      <h2>General Conditions</h2>

      <ul>
        <li>
      Your use of the Website is at your sole risk. The service is provided on an “as is” and “as available” basis.
        </li>
        <li>
      Technical support is only provided to paying account holders and is only available via email.
        </li>
        <li>
      You understand that Digital Ollie uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Website.
        </li>
        <li>
      You agree not to duplicate, copy, reproduce, resell, sell or exploit any portion of the Website, use of the Website, or access to the Website without the express written permission by Digital Ollie.
        </li>
        <li>
      You must not modify, adapt or hack the Website or modify another website so as to falsely imply that it is associated with the Website, Digital Ollie, or any other Digital Ollie service.
        </li>
        <li>
      We may remove Content and Accounts containing Content that we determine in our sole discretion are violating the terms of service. This includes but is not limited to unlawful, offensive, threatening, libelous, defamatory, pornographic, explicitly obscene, or generally objectionable content, or content violating any party’s intellectual property.
        </li>
        <li>
      Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Digital Ollie customer, employee, member, or officer will result in immediate account termination.
        </li>
        <li>
      You understand that the technical processing and transmission of the Website, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
        </li>
        <li>
      You must not upload, post, host, or transmit unsolicited email, SMSs, or “spam” messages.
        </li>
        <li>
      You must not transmit any worms or viruses or any code of a destructive nature.
        </li>
        <li>
      If your bandwidth usage exceeds 1 GB/month, or significantly exceeds the average bandwidth usage (as determined solely by Digital Ollie) of other Get Go customers, we reserve the right to immediately disable your account.
        </li>
        <li>
      The failure of Digital Ollie to exercise or enforce any right or provision of the Terms of Service does not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Digital Ollie and govern your use of the Website, superceding any prior agreements between you and Digital Ollie. This includes, but is not limited to, any prior versions of the Terms of Service.
        </li>
      </ul>
      </p>

      <p>
      <h2>No Warranty</h2>

      <ul>
        <li>
      Digital Ollie does not warrant that the service will meet your specific requirements.
        </li>
        <li>
      Digital Ollie does not warrant that the service will be uninterrupted, timely, secure, or error-free.
        </li>
        <li>
      Digital Ollie does not warrant that the results obtained from the use of the service will be accurate or reliable.
        </li>
        <li>
      Digital Ollie does not warrant that  the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations.
        </li>
        <li>
      Digital Ollie does not warrant that any errors in the Website will be corrected.
        </li>
      </ul>
      </p>

      <p>
      <h2>No Liability</h2>

      You expressly understand and agree that Digital Ollie shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Digital Ollie has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
      </p>
      <p>
      Questions about the Terms of Service should be sent to support@getgolist.com.
      </p>
    </div>
  </div>
</div>
