<center>
<h1>
  Account Deactivated
</h1>
</center>
<p>We have deactivated your account with Get Go. Please visit your account page at <%= @account_url %> to resolve any issues so we can reactivate it.</p>
<p>Thank you</p>
<p>Get Go</p>