<center>
<h1>
  Free Trial Ending Soon
</h1>
</center>
<p>We hope you've enjoyed using Get Go during your free trial. Your free trial is now over and your account has been put on hold. If you would like to continue using your account, please visit your account page <a href="<%= @account_url %>">here</a> and add your billing information so that we can continue to offer you Get Go.</p>
<p>Thanks!</p>
<p>Get Go</p>