<%= form_for @label, :url => label_url(@label) do |f| %>
<div class="row_item otimes_icon" data-role="delete" data-confirm="Are you sure you want to delete this label?">&otimes;</div>
<div class="row_item">
&nbsp;delete label
</div>
<% end %>
