<div class="block"><h2>Label: <span class="user_title"><%= truncate_clean(@label.title, :length => 256, :omission => '...', :max_word_length => (session.has_key? :screen_width and (session[:screen_width].to_i < 500)) ? 20 : 256) %></span>
</h2></div>
<div class="row_item last list_action">
	<%= link_to '(edit title)', edit_label_url(@label, :attribute => 'title'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'label_title',
		:class => 'small'
	%>
</div>
