<%= form_for @label, :url => label_url(@label),:html => {:method => 'delete',:_method => 'delete'} do |f| %>
<div class="row_item otimes_icon">&otimes;</div>
<div class="row_item">
&nbsp;delete label
</div>
<% end %>
