<div id="label_title" class="borderless section padding_bottom">
	<%= render :partial => 'show_title' %>
</div>
<%= render :partial => 'tabs' %>
<div class="list_container">
  <div class="section controls">
    <div id="label_delete" class="control right button round color2 " onclick="void(0)" data-button="true" data-button="true"><%= render :partial => 'show_delete', :locals => {:label => @label} %></div>
  </div>
  <div class="section">
    <div id="label_color" class="padding">
    	<%= render :partial => 'show_color' %>
    </div>
  </div>
</div>