input {
	overflow: hidden;
}
.check_box_proxy {
	font-size: 16px;
	font-family: "Lucida Sans Unicode";
}
.delete {
	font-family: "Lucida Sans Unicode";
}
.ie_shadow_small {
    display: block;
    position: absolute;
    z-index: -1;
    background: #000;
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2', MakeShadow='true', ShadowOpacity='0.30');
}
.ie_shadow_large {
    display: block;
    position: absolute;
    z-index: -1;
    background: #000;
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4', MakeShadow='true', ShadowOpacity='0.30');
}