$dark-blue: #557777;
$blue: #90B0B0;
$light-blue: #DDF5F5;
$pale-blue: #f0f8f8;
$blue-wash: #fbffff;
$light-carmine: #E55;
$carmine: #EE3434;
$paper: #FDFCF8;
$gray0-5: #F5F4F0;
$gray1: #EDECE8;
$gray2: #DDDCD8;
$gray3: #CDCCC8;
$gray4: #bdbcb8;
$gray5: #adaca8;
$gray6: #9d9c98;
$gray7: #8E8D89;
$gray8: #6D6C68;
$gray9: #5D5C58;
$gray10: #4D4C48;
$black: #0D0C08;
$light-yellow: #FFF8D0;
$yellow: #fcefa1;
$white: #FCFCFA;
$Red_Orange: #FF5349;
$Melon: #FDBCB4;
$Orange: #FF7538;
$Atomic_Tangerine: #FFA474;
$Laser_Lemon: #FDFC74;
$Electric_Lime: #1DF914;
$Shamrock: #45CEA2;
$Pacific_Blue: #1CA9C9;
$Cornflower: #9ACEEB;
$Periwinkle: #C5D0E6;
$Indigo: #5D76CB;
$Purple_Heart: #7442C8;
$Wisteria: #CDA4DE;
$Shocking_Pink: #FB7EFD;
$Cotton_Candy: #FFBCD9;
$normal-font-size: 16px;
$medium-font-size: 14px;
$compact-font-size: 12px;
$line-height: 26px;
$line-height-minus-two: 24px;
$line-height-minus-three: 23px;
$compact-line-height: 20px;
$compact-line-height-minus-two: 18px;
$indent-width: 28px;
$nav-indent-width: 15px;
@mixin small-shadow {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
@mixin large-shadow {
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}
@mixin dark-gradient {
	background: $gray8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray6}", endColorstr="#{$gray9}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray6), to($gray9)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray6,  $gray9); /* for firefox 3.6+ */
}
@mixin dark-gradient-down {
	background: $gray8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray9}", endColorstr="#{$gray6}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray9), to($gray6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray9,  $gray6); /* for firefox 3.6+ */
}
@mixin light-gradient {
	background: $gray1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray1}", endColorstr="#{$gray4}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray1), to($gray4)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray1 0%, $gray4 100%); /* for firefox 3.6+ */
}
@mixin light-gradient-down {
	background: $gray2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray2}", endColorstr="#{$gray3}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray2), to($gray3)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray2 0%, $gray3 100%); /* for firefox 3.6+ */
}
@mixin light-gradient-flat {
	background: $gray1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray1}", endColorstr="#{$gray4}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray1), color-stop(.85,$gray3), to($gray4)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray1 0%, $gray3 85%, $gray4 100%); /* for firefox 3.6+ */
}
@mixin light-gradient-flat-down {
	background: $gray2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray2}", endColorstr="#{$gray3}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray2), color-stop(.85,$gray3), to($gray3)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray2 0%, $gray3 85%, $gray3 100%); /* for firefox 3.6+ */
}
@mixin medium-gradient {
	background: $gray5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray3}", endColorstr="#{$gray6}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray3), to($gray6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray3,  $gray6); /* for firefox 3.6+ */
}
@mixin medium-gradient-down {
	background: $gray4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray4}", endColorstr="#{$gray5}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray4), to($gray5)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray4,  $gray5); /* for firefox 3.6+ */
}
@mixin gradient2 {
	background: $gray3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray1}", endColorstr="#{$gray4}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray1), to($gray4));
	background: -moz-linear-gradient(top,  $gray1,  $gray4); /* for firefox 3.6+ */
}
@mixin gradient2-down {
	background: $gray3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray4}", endColorstr="#{$gray1}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray4), to($gray1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray4,  $gray1); /* for firefox 3.6+ */
}
@mixin glare-light {
	background-color: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), color-stop(.3,rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDFFFFFF", endColorstr="#26FFFFFF"); /* for IE */
}
@mixin glare-light-down {
	background-color: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), color-stop(.3,rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.1)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#20FFFFFF"); /* for IE */
}
@mixin glare-medium {
	background-color: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.07)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF"); /* for IE */
}
@mixin glare-medium-down {
	background-color: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.1)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF"); /* for IE */
}
@mixin glare-gradient-dark {
	background-color: rgba(255, 255, 255, 0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.07)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF"); /* for IE */
}
@mixin glare-gradient-dark-down {
	background-color: rgba(255, 255, 255, 0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.07)), to(rgba(255, 255, 255, 0.4)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11FFFFFF", endColorstr="#64FFFFFF"); /* for IE */
}
@mixin glare-gradient2 {
	background-color: rgba(255, 255, 255, 0.5);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF"); /* for IE */
}
@mixin text-right {
	text-align: right;
}
body {
	background-color: $gray1;
	color: $gray8;
	font-size: $normal-font-size;
	line-height: 1.0;
}

a {
	color: $gray10;
	text-decoration: none;
	padding: 1px 0 1px 0;
}
a:hover {
	color: $gray8;
}
.line_item a:hover, a:hover div {
	color: $gray8;
	text-decoration: none;
}
a.quiet, div.quiet, span.quiet, .explanatory {
	font-size: 12px;
	line-height: $compact-line-height;
}
div.small, a.small, span.small {
  line-height: $compact-line-height;
}
div.quiet, span.quiet {
  color: $blue
}
a.loud, div.loud, span.loud {
	font-size: 18px;
}
hr {
	color: $gray8;
}
h1 {
  color: $gray7;
  margin-left: -16px;
  margin-bottom: 20px;
  font-size: 32px;
}
h2 {
  font-size: 22px;
	line-height: 30px;
}
h3 {
  font-size: 18px;
  line-height: 24px;
	font-weight: bold;
}
p {
  line-height: 22px;
}
//These styles handle forms
input[type=text], textarea {
	background-color: $white;
}
input {
	font-size: $normal-font-size;
	height: $line-height;
	vertical-align: bottom;
	position: relative;
}
input[type="text"],input[type="password"]{
  padding: .3em;
  height: auto;
}
textarea {
  position:relative;
	font-size: $normal-font-size;
}

input[type="submit"] {
	color: $carmine;
	height: 26px;
}
select {
  top: -2px;
  font-size: $normal-font-size;
  font-weight: normal;
}
select.with_text_field{
	position: relative;
	top: .4em;
}
// These classes define layout for specific elements
#inbox_text_area {
	width: 335px;
	height: 78px;
}

.index_add_text_box {
	width: 300px;
}
#top_nav {
	position: relative;
	background-color: $gray8;
	@include dark-gradient;
	text-shadow: 0px -1px 1px rgba(0,0,0,.8);
	color: $paper;
	a {
		color: $paper;
	}
	a:hover {
		background: inherit;
		color: $gray2;
		text-shadow: 0px -1px 1px rgba(15,15,15,.8);
	}
	.glare {
		position: absolute;
		top: 0;
		left: 0;
		height: 55%;
		width: 100%;
		@include glare-gradient-dark;
	}
}
#main_modal_view {
  border: 1px solid $gray8;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  background: $gray2;
  width: 790px;
  padding: 20px 20px 20px 40px;
  z-index: 1000;
}
.form_modal {
	position: absolute;
	background: $gray2;
	z-index: 1100;
}
#modal_mask {
  position: absolute;
  background-color: $black;
  z-index: 999;
}
#close_dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 8px;
  border-bottom: 1px solid $gray8;
  border-right: 1px solid $gray8;
  z-index: 10;
  cursor: pointer;
}
// These classes define general layout rules for elements that play certain roles

@mixin vert-line-nav-wrapper {
	padding-left: 12px;
}
.page_content {
  padding: $line-height 0 $line-height 38px;
  margin: 0 -16px 16px -16px;
  min-height: 500px;
  background-color: $gray2;
	@include large-shadow;
}
.page_pull_left {
	margin-left: -$indent-width;
}
.user_title {
  color: $gray9;
}
.h2_text_padding {
	padding-top: .4em;
}
.explanatory {
  background-color: $paper;
  padding: 20px;
}
.section_margin_top{
  margin-top: 20px;
}
.list_section {
	margin-left: -16px;
	padding: 16px;
	background-color: $gray3;
	line-height: $compact-line-height;
	@include small_shadow;
	a:hover {
		color: $gray8;
	}
	.delete, .plus_icon {
		line-height: $compact-line-height-minus-two;
		height: $compact-line-height-minus-two;
	}
}
.list_section_indent {
	margin-left: $indent-width;
	line-height: $compact-line-height;
}
.list_section_inner {
	margin-left: 20px;
}
.block {
	position: relative;
	float: left;
	width: 100%;
}
.section {
	background-color: $pale-blue;
	margin-left: -16px;
	padding: 16px;
	line-height: $compact-line-height;
	@include small_shadow;
	a:hover {
	  background-color: $blue-wash;
	}
	a:active {
		background-color: $gray1;
	}
	.button a:active, .button a:hover {
		background-color: rgba(255,255,255,0);
	}
	select {
		margin-top: .45em;
	}
	.line_item_height select{
		margin-top: 0;
	}
}
.half_section {
  position: relative;
  float: left;
  width: 360px;
  margin-right: 50px;
}
.half_section.last, .half_select.last {
  margin-right: 0;
}
.half_select {
  position: relative;
  float: left;
  width: 175px;
  margin-right: 10px;
}
.editing {
	background-color: $yellow;
}
.archived .section_heading .title_text{
	text-shadow: 0px -1px 1px rgba(128,128,128,.5);
}
.section_heading {
  background-color: $gray4;
	@include small-shadow;
  color: $gray8;
	text-shadow: 0px 1px 1px rgba(255,255,255,.5);
	border-top: 1px solid $gray4;
	border-bottom: 1px solid $gray5;
	.delete {
		color: $gray8
	}
	.delete:hover {
		color: $carmine;
	}
	line-height: $line-height;
	
}
.section_heading.padded {
	padding-bottom: .5em;
	padding-top: .5em;
}
.section_heading.overdue {
	background-color: $gray1;
	color: $carmine;
	text-shadow: 0px 1px 1px $paper;
}
.left_nav_wrapper {
  position: relative;
  float: left;
  margin-right: 22px;
  width: 218px;
}
.left_subnav_wrapper {
	min-width: 180px;
}
.vert-line-nav-wrapper-main {
	@include vert-line-nav-wrapper;
	position:relative;
	float: left;
	width: 95%;
	margin-bottom: .4em;
	line-height: 30px;
	background-color: $paper;
	@include small-shadow;
	a:hover {
	  color: $gray6;
	  background-color: inherit;
	}
	a {
		color: $gray10;
	}
	div.selected {
		background-color: $gray3;
		font-weight: bold;
		.plus_icon, .delete, .count {
			font-weight: normal;
		}
	}
	div.bold {
		font-weight: bold;
		.plus_icon, .delete {
			font-weight: normal;
		}
	}
	.vert_line_subnav_wrapper, .vert_line_subsubnav_wrapper {
		margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
		padding-left: 8px;
		position: relative;
		float: left;
		width: 93%;
		font-size: $normal-font-size;
		line-height: $compact-line-height;
		.label a.selected, .label a:hover.selected {
			color: inherit;
		}
		a.selected, a:hover.selected {
			font-weight: bold;
			color: $black;
		}
    a:hover {
	    color: $gray6;
    }
	}
}
div.vert-line-nav-wrapper-main.selected {
  width: 212px;
  background-color: $gray2;
	background: $gray2;
	filter: none;
	@include large-shadow;
}
.vert_line_subnav_wrapper.selected, .vert_line_subsubnav_wrapper.selected {
  font-weight: bold;
  color: $black;
	.hover_nav{
		font-weight: normal;
		color: $gray10;
	}
}
.vert_line_subsubnav_wrapper.selected {
	padding-top: 10px;
	padding-bottom: 0;
}
.vert-line-nav-wrapper-header {
	@include vert-line-nav-wrapper;
}
.left_nav_wrapper.selected .expandable_subnav {
	width: 212px;
}
.expandable_subnav {
	line-height: 30px;
	font-size: $medium-font-size;
	position: relative;
	float:left;
	width: 207px;
	overflow: hidden;
	.delete, .plus_icon {
		font-size: 1.5em;
	}
	.delete:hover {
		color: $carmine;
	}
	div.selected {
		text-shadow: 0px 1px 1px rgba(255,255,255,.5);
		font-weight: bold;
		.plus_icon, .delete {
			font-weight: normal;
		}
	}
	div.bold {
		font-weight: bold;
		.plus_icon, .delete {
			font-weight: normal;
		}
	}
}
.expandable_subnav_stretcher {
	width: 900px;
}
.expandable_subnav_stretcher.show_all {
	z-index: 10;
	background-color: $paper;
}
.left_nav_wrapper.selected .expanded_subnav, .left_nav_wrapper.selected .expanded_subnav_indent{
	width: 197px
}
.expanded_subnav, .expanded_subnav_indent {
	position: relative;
	float:left;
	width: 192px;
}
div.expnaded_subnav_indent.selected {
	background-color: $gray3;
	font-weight: bold;
	.plus_icon, .delete {
		font-weight: normal;
	}
}
.expanded_subnav_indent {
	margin-left: $nav-indent-width;
	line-height: $compact-line-height;
	font-size: $medium-font-size;
	overflow: hidden;
}
.nav_tools {
	position: absolute;
	top: .1em;
	right: 0;
	background: $gray4;
	height: 26px;
}
.left_nav_wrapper .expandable_subnav .nav_tools a:hover {
	color: $gray9;
}
.left_nav_wrapper .expandable_subnav .nav_tools a.delete:hover {
	color: $carmine;
}
.expanded_subnav_indent .nav_tools{
	height: $compact-line-height-minus-two;
 .nav_tool_icons{
		top: -.375em;
	}
}
.nav_tool_text {
	position: relative;
	float: left;
	top: -.1em;
	padding-left: 5px;
}
.nav_tool_icons {
	position: relative;
	float: left;
	top: 0;
}
.count {
	position: relative;
	float: left;
	top: .3em;
	background-color: $gray6;
	color: $paper;
	padding: 0 5px;
	height: 1.2em;
	line-height: 1.2em;
}
.left_nav_wrapper .count{
	top: .5em;
}
.count.small{
	top: .2em;
	height: 1.5em;
	line-height: 1.5em;
}
.hover_nav_selected {
  width: 212px;
}
.hover_nav {
  .vert_line_subnav_wrapper {
	  margin-top: 8px;
	  padding-bottom: 2px;
	}
  position: absolute;
  left: 138px;
  top: -1px;
  z-index: 10;
  width: auto;
  min-width: 212px;
  background-color: $paper;
  padding: 0px 12px 5px 12px;
  border: 1px solid $gray4;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .3);
}
.hover_nav_pointer {
  position: absolute;
  left: -30px;
  top: -2px;
}
.selected a {
  color: $black;
}
.selected a:hover {
  color: $gray6;
}
.selected .hover_nav a {
	color: $gray10;
}
.selected .hover_nav a:hover {
	color: $gray6;
}
a.selected {
  font-weight: bold;
}
.selected_indicator {
  position: absolute;
  left: 0em;
}
.line_item, .line_item_quiet {
  select {
		position: relative;
    top: .3em;
  }
	input[type="submit"] {
		position: relative;
		top: -.25em;
	}
  border-bottom: 1px solid $gray8;
  padding: .4em 0;
  margin-bottom: 0;
}
.line_item_quiet {
	border-color: $gray5;
}
.span-14.side_borders {
	width: 548px;
	border-right: 1px solid $gray8;
	border-left: 1px solid $gray8;
}
.height_zero {
	height: 0px;
}
.height_zero.task {
	border-bottom: 1px solid $gray5;
}
.height_zero.plan {
	border-bottom: 1px solid $gray8;
}
.height_zero.nav_divider {
	margin-top: 5px;
	border-bottom: 1px solid $gray8;
}
.row_item {
	position: relative;
	float: left;
}
.list_topper {
	height: 1px;
	border-bottom: 1px solid $gray8
}
.task_line_item_left{
	position: absolute;
	left: 0;
}
.task_line_item_middle{
	left: 40px;
}
.line_item_soft {
  padding-bottom: .4em;
  padding-top: .4em;
}
.line_item_control_expander {
	background-color: $paper;
	border: 1px solid $gray6;
	height: $compact-line-height-minus-two;
	z-index: 1001;
	cursor: pointer;
}
.line_item_control_expander_plan{
	top: 3px;
}
.line_item_control_expander_active{
	border-bottom: none;
}
.line_item_expand_control {
	position:absolute;
	top: $compact-line-height-minus-two;
	left: -30px;
	min-width: 150px;
	width: auto;
	z-index: 1000;
	padding: 1em;
	background-color: $paper;
	border: 1px solid $gray6;
}
.line_item_expand_control_labels {
	min-width: 300px;
	top: $compact-line-height-minus-two;
	left: 0;
}
.line_item_expand_control_clickable{
	position:relative;
	float: left;
	top: .2em;
	cursor: pointer;
}
.button{
	display: block;
	position: relative;
  padding: 0 20px;
  margin-right: 20px;
  height: 2em;
	line-height: 2em;
	cursor: pointer;
	.delete {
		top: 3px;
	}
	.glare {
		position: absolute;
		top: 4%;
		left: 0;
		height: 55%;
		margin: 0 8px;
		border-radius: 1em;
		-moz-border-radius: 1em;
	}
}
.button.small {
	margin-top: .4em;
	margin-right: 10px;
	height: 1.6em;
	line-height: 1.6em;
	padding-left: 10px;
	padding-right: 10px;
	.glare {
		margin: 0 4px;
	}
}
a.button {
	display: inline;
	.button_content {
		float: none;
	}
}
a.button.small {
	margin-top: 0;
}
h2 .button.small {
	margin-top: .25em;
}
.text_with_small_button {
	position: relative;
	float: left;
	top: .5em;
}
.button.round, a.button.round {
	border-radius: 1.5em;
	-moz-border-radius: 1.5em;
}
.button.round.small{
	border-radius: .8em;
	-moz-border-radius: .8em;
}
.button.dark, a.button.dark {
	@include dark-gradient;
  border:1px solid $gray10;
  border-top:1px solid $gray9;
  border-left:1px solid $gray9;
  color:$paper;
}
.button.dark:active, .button.dark.pseudo_active {
	@include dark-gradient-down;
  border:1px solid $gray9;
  border-top:1px solid $gray10;
  border-left:1px solid $gray10;
}
.button.light, a.button.light {
	@include light-gradient-flat;
  border:1px solid $gray6;
  border-top:1px solid $gray4;
  border-left:1px solid $gray4;
  color:$gray8;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	.glare {
		@include glare-light;
	}
	a {
		color: $gray8;
	}
	a:hover {
		color: $gray6;
	}
}
.button.light:active, a.button.light:active {
	@include light-gradient-flat-down;
	.glare {
		@include glare-light-down;
	}
}
.button.medium, a.button.medium {
	@include medium-gradient;
  border:1px solid $gray7;
  border-top:1px solid $gray6;
  border-left:1px solid $gray6;
  color:$paper;
	text-shadow: 0px -1px 1px rgba(0,0,0,.3);
	.glare {
		@include glare-medium;
	}
	a {
		color: $paper;
	}
	a:hover {
		color: $gray2;
	}
}
.button.medium:active, .button.medium.pseudo_active {
	@include medium-gradient-down;
	.glare {
		@include glare-medium-down;
	}
}
.button.color2, a.button.color2 {
	@include gradient2-down;
  border:1px solid $gray5;
  border-top:1px solid $gray4;
  border-left:1px solid $gray4;
  color:$paper;
	text-shadow: 0px -1px 1px rgba(0,0,0,.3);
	.glare {
		position: absolute;
		top: 0;
		left: 0;
		height: 55%;
		width: 90%;
		margin: 2% 5% 0 5%;
		border-radius: 1em;
		@include glare-gradient2;
	}
}
.button.color2:active, a.button.color2:active {
	@include gradient2-down;
  border:1px solid $gray4;
  border-top:1px solid $gray5;
  border-left:1px solid $gray5;
	text-shadow: 0px -1px 1px rgba(255,255,255,1);
}
.button_content {
	position: relative;
	float: left;
	z-index: 10;
}
[onclick="void(0)"] {
	cursor: pointer;
}
.list_action {
  position: relative;
  float: right;
  padding: 0 20px;
  margin-right: 20px;
  height: 2em;
	line-height: 2em;
	background-color: inherit;
  a, a:hover {
		color: $black;
  }
}
.list_action.last{
  margin-right: 0;
}
.list_action.selected {
  background-color: $gray2;
  color: $black;
  font-weight: bold;
}
.attach_above {
  border-top: 1px solid $gray2;
  border-left: 1px solid $gray2;
  border-right: 1px solid $gray2;
	@include small-shadow;
}
.attach_above.selected {
	@include large-shadow;
}
.attach_below {
  border-bottom: 1px solid $gray4;
  border-left: 1px solid $gray4;
  border-right: 1px solid $gray4;
	background-color: $gray2;
	z-index: 10;
	@include small-shadow;
}
.attach_to_bottom_border {
  border-top: 1px solid $gray4;
  border-left: 1px solid $gray4;
  border-right: 1px solid $gray4;
	margin-bottom: -.4em;
}
.attributes {
  border: 1px solid $gray4;
  cursor: pointer;
  background-color: $paper;
}
.rarr_width {
	font-weight: bold;
	width: $indent-width;
	cursor: pointer;
}
.expand_arrow_width {
	position: relative;
	float: left;
	width: $nav-indent-width;
	cursor: pointer;
	font-weight: bold;
}
.plus_icon {
	font-size: 1.2em;
	line-height: $line-height-minus-two;
	height: $line-height-minus-two;
	cursor: pointer;
}
.delete {
  line-height: $line-height-minus-two;
	height: $line-height-minus-two;
	font-size: 1.2em;
}
.attribute_action {
  position: relative;
  float: right;
  padding: 0;
  margin-right: 10px;
  height: 2em;
  a {
		padding-left: 5px;
		padding-right: 5px;
    background-color: inherit;
  }
  a:hover {
    background-color: $gray1;
  }
	a:active {
		background-color: $paper;
	}
}
.overdue, .overdue a {
  color: $carmine;
}
.archived, .archived a {
	color: $gray1;
	.hierarchical {
		color: $paper;
	}
}
.archived .hierarchical a {
	color: $paper;
}
.flash_notice {
  border: 1px solid $gray4;
	background-color: $paper;
	text-align: center;
	position: absolute;
	width: 90%;
	top: 40%;
	left: 5%;
	z-index: 10;
}
.checked {
	color: $carmine;
}
.check_box_proxy {
	font-size: 28px;
  line-height: $line-height;
  height: $line-height;
	cursor: pointer;
  position:relative;
	float:left;
	vertical-align: bottom;
	top: -3px;
}
.check_box_proxy:hover {
	color: $carmine;
}
.archived .check_box_proxy:hover {
	color: inherit;
}
.check_box_proxy.in_header {
  font-size: 33px;
}
.line_item_height {
  position: relative;
	float: left;
  line-height: $line-height;
	input[type="checkbox"]{
		top: -.175em;
		margin-bottom: -.1em;
	}
}
.text_field_button_label{
  height: 30px;
  padding: 0;
  input[type="submit"] {
    vertical-align: middle;
  }
}
.in_header{
  margin-top: 3px;
}
.sorting{
	background-color: rgba(255,255,255,.3);
	z-index: 1004;
}
.sortable_drag_handle, .sortable_drag_handle_heading {
	cursor: move;
}
.sortable_drag_handle_heading{
	font-size: 1.2em;
	top: .25em;
}
.line_item a:hover[data-role=delete].delete {
	color: $carmine;
}
[data-action] {
	cursor: pointer;
}
.completed {
  text-decoration:line-through;
}
.vertical_center {
  vertical-align: middle;
}
// These classes define reusable design elements
.strong_box {
  position: relative;
  float: left;
}
.allcaps{
	font-size: $compact-font-size;
	text-transform: uppercase;
}
.text_right {
	@include text-right;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.vertical-padding {
	padding-top: 14px;
	padding-bottom: 14px;
}
.padding_bottom {
  padding-bottom: 14px;
}
.padding_bottom_small {
	padding-bottom: 1em;
}
.padding_top {
  padding-top: 14px;
}
.margin_bottom {
	margin-bottom: 14px;
}
.margin_bottom_small {
	margin-bottom: .8em;
}
.border_top {
  border-top: 1px solid $gray8;
}
.border_bottom {
  border-bottom: 1px solid $gray8;
}
.border {
	border: 1px solid $gray8;
}
/* labels*/
.label {
	position: relative;
	float: left;
	font-size: $compact-font-size;
	line-height: $compact-line-height;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 7px;
	// border: 1px solid $gray10;
	cursor: pointer;
}
.label_placeholder {
	position: relative;
	float: left;
	font-size: $compact-font-size;
	line-height: "#{$compact-line-height + 2}";
}
.label_nav {
	position: relative;
	float: left;
	margin-bottom: 7px;
	width: 138px;
}
.label_wrapper {
	padding: 7px 0 7px 7px;
	margin-right: 7px;
	position: relative;
	float: left;
	border: 1px solid $pale-blue;
}
.label_wrapper.selected {
	border: 1px solid $gray8;
}
.mytime .Red_Orange { background-color: $Red_Orange; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Melon { background-color: $Melon; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Orange { background-color: $Orange; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Atomic_Tangerine { background-color: $Atomic_Tangerine; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Laser_Lemon { background-color: $Laser_Lemon; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Electric_Lime { background-color: $Electric_Lime; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Shamrock { background-color: $Shamrock; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Pacific_Blue { background-color: $Pacific_Blue; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Cornflower { background-color: $Cornflower; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Periwinkle { background-color: $Periwinkle; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Indigo { background-color: $Indigo; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Purple_Heart { background-color: $Purple_Heart; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 }  }
.mytime .Wisteria { background-color: $Wisteria; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Shocking_Pink { background-color: $Shocking_Pink; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Cotton_Candy { background-color: $Cotton_Candy; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Black { background-color: $black; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Gray { background-color: $gray6; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .White { background-color: $paper; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -1em 0 .6em 5em; }
.ui-timepicker-div td { font-size: 90%; }
.mytime .ui-datepicker {
  width: 20em;
  font-size: .7em;
}
.hasDatepicker {
	z-index: 20;
}
.mytime .ui-timepicker-div dl dd.ui_tpicker_time {
  margin-top: -2.3em;
}
