body {
  background-color: #faf9f5;
  color: #4d4c48;
  font-size: 16px;
  line-height: 1.0; }

body.public {
  background-color: #fdfcf8; }

a {
  color: #57793b;
  text-decoration: none;
  padding: 1px 0 1px 0; }

a.coolvetica {
  color: #4d4c48; }

a:hover {
  color: #4d4c48; }

a.coolvetica:hover {
  color: #6d6c68; }

.line_item a:hover, a:hover div {
  color: #6d6c68;
  text-decoration: none; }

a.quiet, div.quiet, span.quiet {
  font-size: 12px;
  line-height: 20px; }

div.small, a.small, span.small {
  line-height: 20px; }

div.quiet, span.quiet {
  color: #90b0b0; }

a.loud, div.loud, span.loud {
  font-size: 18px; }

hr {
  color: #6d6c68; }

h1 {
  color: #5d5c58;
  margin-left: -16px;
  margin-bottom: 20px;
  font-size: 32px; }

h1.coolvetica {
  font-size: 40px; }

h2 {
  font-size: 22px;
  line-height: 30px; }

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold; }

p {
  line-height: 22px; }

input[type=text], textarea {
  background-color: #fffefa; }

input {
  font-size: 16px;
  height: 26px;
  vertical-align: bottom;
  position: relative; }

input[type="text"], input[type="password"] {
  padding: .3em;
  height: auto;
  border-color: #97b97b; }

textarea {
  position: relative;
  font-size: 16px; }

input[type="submit"] {
  color: #df6020;
  height: 26px; }

select {
  top: -2px;
  font-size: 16px;
  font-weight: normal; }

select.with_text_field {
  position: relative;
  top: .4em; }

#top_nav_wrapper .row_item {
  padding-right: 25px; }
#top_nav_wrapper .selected a {
  font-weight: bold;
  color: #fcefa1; }
#top_nav_wrapper #top_logo_content .row_item {
  padding-right: 0; }

#inbox_text_area {
  width: 335px;
  height: 78px; }

.index_add_text_box {
  width: 300px; }

.left_nav_wrapper #top_logo_content {
  font-family: CoolveticaRg-Regular; }
  .left_nav_wrapper #top_logo_content a {
    color: #fcefa1; }
  .left_nav_wrapper #top_logo_content a:hover {
    color: #fdfcf8; }

#top_logo_content {
  position: relative;
  float: left;
  z-index: 10;
  color: #fcefa1;
  font-size: 20px;
  -moz-transform: skewX(350deg);
  -o-transform: skewX(350deg);
  -webkit-transform: skewX(350deg);
  transform: skewX(350deg);
  filter: progid:DXImageTransform.Microsoft.dropShadow(color="#663D3C38",offX=-1,offY=-1, positive=true) progid:DXImageTransform.Microsoft.Matrix(M11=1,M12=-0.17632698070846498,M21=0,M22=1,SizingMethod='auto expand'); }
  #top_logo_content .rarr_logo {
    line-height: 20px;
    font-size: 26px; }

#beta_label {
  padding: .3em;
  background-color: #dddcd8;
  color: #fdfcf8;
  font-size: 24px;
  width: 138px; }

#main_logo {
  cursor: pointer;
  position: relative;
  float: left;
  height: 115px;
  width: 177px;
  -moz-border-radius-topleft: 28px;
  -moz-border-radius-topright: 28px;
  -moz-border-radius-bottomright: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border: 5px solid #fcefa1;
  background-color: #fcefa1;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-transform: skewX(350deg);
  -o-transform: skewX(350deg);
  -webkit-transform: skewX(350deg);
  transform: skewX(350deg); }
  #main_logo #main_logo_inner {
    width: 177px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: CoolveticaRg-Regular;
    font-size: 44px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    color: #fcefa1;
    background-color: #df6020;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa080", endColorstr="#df6020");
    /*progid:DXImageTransform.Microsoft.Light(); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8040), color-stop(0.74, #f87838), to(#df6020));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ff8040, #df6020);
    /* for firefox 3.6+ */
    text-align: center; }
    #main_logo #main_logo_inner #main_logo_content {
      position: relative;
      float: left;
      z-index: 10;
      color: #fcefa1; }
      #main_logo #main_logo_inner #main_logo_content .rarr_logo {
        line-height: 44px;
        font-size: 64px; }

#top_nav {
  position: relative;
  background-color: #6d6c68;
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#5d5c58");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#5d5c58));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #5d5c58);
  /* for firefox 3.6+ */
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  color: #fdfcf8; }
  #top_nav a {
    color: #fdfcf8; }
  #top_nav a:hover {
    background: inherit;
    color: #dddcd8;
    text-shadow: 0px -1px 1px rgba(15, 15, 15, 0.8); }
  #top_nav .glare {
    position: absolute;
    top: 0;
    left: 0;
    height: 55%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.07)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF");
    /* for IE */ }

.top_nav_text_shadow {
  filter: progid:DXImageTransform.Microsoft.dropShadow(color="#443D3C38",offX=-1,offY=-1, positive=true); }

#main_modal_view {
  border: 1px solid #6d6c68;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  background: #dddcd8;
  width: 790px;
  padding: 20px 20px 20px 40px;
  z-index: 1000; }

#create_account_button {
  position: relative;
  float: left;
  width: 190px;
  overflow: visible; }
  #create_account_button #create_account_stretcher {
    position: relative;
    float: left;
    width: 300px; }

.form_modal {
  position: absolute;
  background: #dddcd8;
  z-index: 1100;
  padding: 1em;
  border: 3px solid #adaca8; }

#ajax_loading {
  position: absolute;
  padding: 1em;
  background-color: #edece8;
  border: 3px solid #bdbcb8;
  border-top: none;
  z-index: 20; }

#modal_mask {
  position: absolute;
  background-color: #0d0c08;
  z-index: 999; }

#close_dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 8px;
  border-bottom: 1px solid #6d6c68;
  border-right: 1px solid #6d6c68;
  z-index: 10;
  cursor: pointer; }

.page_content {
  padding: 26px 0 26px 38px;
  margin: 0 -16px 16px -16px;
  min-height: 500px;
  background-color: #d0e0e0; }

.page_pull_left {
  margin-left: -28px; }

.user_title {
  color: #5d5c58; }

.h2_text_padding {
  padding-top: .4em; }

.explanatory {
  background-color: #fdfcf8;
  padding: 20px;
  border: 3px solid #fff8d0;
  line-height: 1.3; }

.section_margin_top {
  margin-top: 20px; }

.small_margin_top {
  margin-top: 10px; }

.list_section {
  margin-left: -16px;
  padding: 16px;
  background-color: #fdfcf8;
  line-height: 20px;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .list_section a:hover {
    color: #4d4c48;
    background-color: #edece8; }
  .list_section .delete, .list_section .plus_icon {
    line-height: 18px;
    height: 18px; }
  .list_section .line_fixed_width .overflow_fade {
    background-color: rgba(253, 252, 248, 0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(253, 252, 248, 0)), to(#fdfcf8));
    background: -moz-linear-gradient(left, rgba(253, 252, 248, 0) 0%, #fdfcf8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00FDFCF8", endColorstr="#FFFDFCF8", gradientType=1);
    /* for IE */ }
  .list_section .section_heading {
    background-color: #edece8;
    -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
    color: #4d4c48;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    border-top: 1px solid #edece8;
    border-bottom: 1px solid #cdccc8; }
    .list_section .section_heading .delete {
      color: #6d6c68; }
    .list_section .section_heading .delete:hover {
      color: #df6020; }
    .list_section .section_heading .count {
      top: 1px; }
    .list_section .section_heading .overflow_fade {
      background-color: rgba(237, 236, 232, 0);
      background: -webkit-gradient(linear, left top, right top, from(rgba(237, 236, 232, 0)), to(#edece8));
      background: -moz-linear-gradient(left, rgba(237, 236, 232, 0) 0%, #edece8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00EDECE8", endColorstr="#FFEDECE8", gradientType=1);
      /* for IE */ }
  .list_section .section_heading.padded {
    padding-bottom: .5em;
    padding-top: .5em; }
  .list_section .section_heading.overdue {
    background-color: #edece8;
    color: #df6020;
    text-shadow: 0px 1px 1px #fdfcf8; }

.list_section_indent {
  margin-left: 28px;
  line-height: 20px; }

.list_section_inner {
  margin-left: 20px; }

.block {
  position: relative;
  float: left;
  width: 100%; }

.section {
  background-color: #fdfcf8;
  margin-left: -16px;
  padding: 16px;
  line-height: 20px;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .section a:hover, .section a:active {
    background-color: #fbffff; }
  .section .button a:active, .section .button a:hover {
    background-color: none; }
  .section select {
    margin-top: .45em; }
  .section .line_item_height select {
    margin-top: 0; }

.public .section {
  background-color: #d0e0e0; }

.section_rule {
  position: relative;
  float: left;
  clear: both;
  margin-left: -16px;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 0 16px;
  width: 100%;
  height: 1px;
  background-color: #cdccc8; }

.half_section {
  position: relative;
  float: left;
  width: 360px;
  margin-right: 50px; }

.half_section.last, .half_select.last {
  margin-right: 0; }

.half_select {
  position: relative;
  float: left;
  width: 175px;
  margin-right: 10px; }

.editing {
  background-color: #fcefa1; }

.archived .section_heading .title_text {
  text-shadow: 0px -1px 1px rgba(128, 128, 128, 0.5); }

.left_nav_wrapper {
  position: relative;
  float: left;
  margin-right: 22px;
  width: 218px; }

.left_subnav_wrapper {
  min-width: 180px; }

.vert-line-nav-wrapper-main {
  padding-left: 12px;
  position: relative;
  float: left;
  width: 93%;
  margin-bottom: .55em;
  line-height: 30px;
  border: 2px solid #dddcd8;
  background-color: #fdfcf8; }
  .vert-line-nav-wrapper-main a:hover {
    color: #9d9c98;
    background-color: inherit; }
  .vert-line-nav-wrapper-main a {
    color: #4d4c48; }
  .vert-line-nav-wrapper-main a.archived {
    color: #bdbcb8; }
  .vert-line-nav-wrapper-main a.archived:hover {
    color: #adaca8; }
  .vert-line-nav-wrapper-main div.selected {
    background-color: #c0d8d8;
    font-weight: bold; }
    .vert-line-nav-wrapper-main div.selected .plus_icon, .vert-line-nav-wrapper-main div.selected .delete, .vert-line-nav-wrapper-main div.selected .count {
      font-weight: normal; }
  .vert-line-nav-wrapper-main div.bold {
    font-weight: bold; }
    .vert-line-nav-wrapper-main div.bold .plus_icon, .vert-line-nav-wrapper-main div.bold .delete {
      font-weight: normal; }
  .vert-line-nav-wrapper-main .overflow_fade {
    background-color: rgba(253, 252, 248, 0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(253, 252, 248, 0)), to(#fdfcf8));
    background: -moz-linear-gradient(left, rgba(253, 252, 248, 0) 0%, #fdfcf8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00FDFCF8", endColorstr="#FFFDFCF8", gradientType=1);
    /* for IE */ }
  .vert-line-nav-wrapper-main .vert_line_subnav_wrapper, .vert-line-nav-wrapper-main .vert_line_subsubnav_wrapper {
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    position: relative;
    float: left;
    width: 93%;
    font-size: 14px;
    line-height: 20px; }
    .vert-line-nav-wrapper-main .vert_line_subnav_wrapper .label a.selected, .vert-line-nav-wrapper-main .vert_line_subnav_wrapper .label a:hover.selected, .vert-line-nav-wrapper-main .vert_line_subsubnav_wrapper .label a.selected, .vert-line-nav-wrapper-main .vert_line_subsubnav_wrapper .label a:hover.selected {
      color: inherit; }
    .vert-line-nav-wrapper-main .vert_line_subnav_wrapper a.selected, .vert-line-nav-wrapper-main .vert_line_subnav_wrapper a:hover.selected, .vert-line-nav-wrapper-main .vert_line_subsubnav_wrapper a.selected, .vert-line-nav-wrapper-main .vert_line_subsubnav_wrapper a:hover.selected {
      font-weight: bold;
      color: #0d0c08; }
    .vert-line-nav-wrapper-main .vert_line_subnav_wrapper a:hover, .vert-line-nav-wrapper-main .vert_line_subsubnav_wrapper a:hover {
      color: #9d9c98; }
  .vert-line-nav-wrapper-main .vert_line_subnav_wrapper.small {
    font-size: 12px; }

div.vert-line-nav-wrapper-main.selected {
  width: 212px;
  background-color: #d0e0e0;
  background: #d0e0e0;
  border: 2px solid #d0e0e0;
  filter: none; }
  div.vert-line-nav-wrapper-main.selected .overflow_fade {
    background-color: rgba(208, 224, 224, 0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(208, 224, 224, 0)), to(#d0e0e0));
    background: -moz-linear-gradient(left, rgba(208, 224, 224, 0) 0%, #d0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00D0E0E0", endColorstr="#00D0E0E0", gradientType=1);
    /* for IE */ }
  div.vert-line-nav-wrapper-main.selected div.selected .overflow_fade {
    background-color: rgba(196, 216, 216, 0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(196, 216, 216, 0)), to(#c4d8d8));
    background: -moz-linear-gradient(left, rgba(196, 216, 216, 0) 0%, #c4d8d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00C0D0D0", endColorstr="#00C0D0D0", gradientType=1);
    /* for IE */ }

.vert_line_subnav_wrapper.selected, .vert_line_subsubnav_wrapper.selected {
  font-weight: bold;
  color: #0d0c08; }
  .vert_line_subnav_wrapper.selected .hover_nav, .vert_line_subsubnav_wrapper.selected .hover_nav {
    font-weight: normal;
    color: #4d4c48; }

.vert_line_subsubnav_wrapper.selected {
  padding-top: 10px;
  padding-bottom: 0; }

.vert-line-nav-wrapper-header {
  padding-left: 12px; }

.left_nav_wrapper.selected .expandable_subnav {
  width: 212px; }

.expandable_subnav {
  line-height: 30px;
  font-size: 14px;
  position: relative;
  float: left;
  width: 202px;
  overflow: hidden; }
  .expandable_subnav .delete, .expandable_subnav .plus_icon {
    font-size: 1.5em; }
  .expandable_subnav .delete:hover {
    color: #df6020; }
  .expandable_subnav div.selected {
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: bold; }
    .expandable_subnav div.selected .plus_icon, .expandable_subnav div.selected .delete {
      font-weight: normal; }
  .expandable_subnav div.bold {
    font-weight: bold; }
    .expandable_subnav div.bold .plus_icon, .expandable_subnav div.bold .delete {
      font-weight: normal; }

.expandable_subnav_stretcher {
  width: 900px; }

.expandable_subnav_stretcher.show_all {
  z-index: 10;
  background-color: #fdfcf8; }

.left_nav_wrapper.selected .expanded_subnav, .left_nav_wrapper.selected .expanded_subnav_indent {
  width: 197px; }

.expanded_subnav, .expanded_subnav_indent {
  position: relative;
  float: left;
  width: 187px; }

.overflow_fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 9; }

div.expnaded_subnav_indent.selected {
  background-color: #cdccc8;
  font-weight: bold; }
  div.expnaded_subnav_indent.selected .plus_icon, div.expnaded_subnav_indent.selected .delete {
    font-weight: normal; }

.expanded_subnav_indent {
  margin-left: 15px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden; }
  .expanded_subnav_indent .delete, .expanded_subnav_indent .plus_icon {
    line-height: 20px;
    height: 20px; }

.nav_tools {
  position: absolute;
  top: .15em;
  right: 3px;
  background: #bdbcb8;
  height: 26px;
  z-index: 10; }

.left_nav_wrapper .expandable_subnav .nav_tools a:hover {
  color: #4d4c48; }

.left_nav_wrapper .expandable_subnav .nav_tools a.delete:hover {
  color: #df6020; }

.expanded_subnav_indent .nav_tools {
  height: 18px; }
  .expanded_subnav_indent .nav_tools .nav_tool_icons {
    top: -2px; }

.nav_tool_text {
  position: relative;
  float: left;
  top: -0.1em;
  padding-left: 5px; }

.nav_tools .nav_tool_icons {
  position: relative;
  float: left;
  top: 0; }
  .nav_tools .nav_tool_icons a {
    color: #6d6c68; }
  .nav_tools .nav_tool_icons a:hover {
    color: #adaca8; }

.count {
  position: relative;
  float: left;
  top: .3em;
  background-color: #9d9c98;
  color: #faf9f5;
  padding: 0 5px;
  height: 1.2em;
  line-height: 1.2em;
  text-shadow: 1px 1px 1px rgba(15, 15, 15, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(15, 15, 15, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(15, 15, 15, 0.2);
  box-shadow: inset 1px 1px 1px rgba(15, 15, 15, 0.2); }

.project_line_item_tools {
  position: absolute;
  right: 0;
  z-index: 11; }

.project_add_folder {
  position: absolute;
  left: 40px;
  width: 80px;
  padding-left: 3px;
  margin-right: 0;
  height: 20px;
  z-index: 11; }

.project_line_item_text {
  position: relative;
  float: left;
  width: 550px; }

.project_folder_select {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 6px;
  background: #edece8;
  border: 1px solid #8e8d89;
  z-index: 10; }

.left_nav_wrapper .count {
  top: .5em; }

.count.small {
  top: .2em;
  height: 1.5em;
  line-height: 1.5em; }

.hover_nav_selected {
  width: 212px; }

.hover_nav {
  position: absolute;
  left: 138px;
  top: -1px;
  z-index: 20;
  width: auto;
  min-width: 212px;
  background-color: #fdfcf8;
  padding: 0px 12px 5px 12px;
  border: 1px solid #bdbcb8;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .hover_nav .vert_line_subnav_wrapper {
    margin-top: 8px;
    padding-bottom: 2px; }

.hover_nav_pointer {
  position: absolute;
  left: -30px;
  top: -2px; }

.selected a {
  color: #0d0c08; }

.selected a:hover {
  color: #9d9c98; }

.selected .hover_nav a {
  color: #4d4c48; }

.selected .hover_nav a:hover {
  color: #9d9c98; }

a.selected {
  font-weight: bold; }

.selected_indicator {
  position: absolute;
  left: 0em; }

.selectable_group {
  border: 3px solid #cdccc8;
  height: 26px;
  overflow: hidden; }

.selectable {
  position: relative;
  padding: .2em;
  color: #6d6c68; }

.selectable.selected {
  font-weight: bold; }

.highlight {
  background-color: #eaf5f5; }

.line_item, .line_item_quiet {
  border-bottom: 1px solid #dddcd8;
  padding: .4em 0;
  margin-bottom: 0; }
  .line_item select, .line_item_quiet select {
    position: relative;
    top: .3em; }
  .line_item input[type="submit"], .line_item_quiet input[type="submit"] {
    position: relative;
    top: -0.25em; }

.line_item_quiet {
  border-color: #adaca8; }

.nav_divider {
  margin-top: 5px;
  border-bottom: 1px solid #6d6c68; }

.row_item {
  position: relative;
  float: left; }

.clear_both {
  position: relative;
  float: left;
  clear: both; }

.list_topper {
  height: 1px;
  border-bottom: 1px solid #dddcd8; }

.task_line_item_left {
  position: absolute;
  left: 0; }

.task_line_item_middle {
  left: 40px; }

.line_item_soft {
  padding-bottom: .4em;
  padding-top: .4em; }

.line_fixed_width {
  overflow: hidden; }

#contacts_subnav .line_fixed_width {
  width: 197px;
  position: relative;
  float: left; }

.small_padding {
  padding-top: 5px; }

.task_assignment_line_item_editor {
  position: absolute;
  top: 24px;
  right: 0;
  border: 1px solid #6d6c68;
  background-color: #edece8;
  padding: 5px;
  z-index: 10;
  text-align: right; }
  .task_assignment_line_item_editor select {
    margin-bottom: 5px; }

.line_item_control_expander {
  height: 18px;
  z-index: none;
  cursor: pointer; }

.line_item_control_expander_plan {
  top: 5px; }

.line_item_control_expander_active {
  background-color: #edece8;
  border: 1px solid #8e8d89;
  border-bottom: none;
  z-index: 1001; }

.line_item_expand_control {
  position: absolute;
  top: 18px;
  left: -30px;
  min-width: 150px;
  width: auto;
  z-index: 1000;
  padding: 1em;
  background-color: #edece8;
  border: 1px solid #8e8d89; }

.line_item_expand_control_labels {
  min-width: 300px;
  top: 18px;
  left: 0; }

.line_item_expand_control_plan {
  top: 21px; }

.line_item_expand_control_clickable {
  position: relative;
  float: left;
  top: .2em;
  cursor: pointer; }

.button {
  display: block;
  position: relative;
  padding: 0 20px;
  margin-right: 20px;
  height: 2em;
  line-height: 2em;
  cursor: pointer; }
  .button .delete {
    top: 3px; }
  .button .glare {
    position: absolute;
    top: 4%;
    left: 0;
    height: 55%;
    border-radius: 1em;
    -moz-border-radius: 1em; }

.button.small {
  margin-top: .4em;
  margin-right: 10px;
  height: 1.6em;
  line-height: 1.6em;
  padding-left: 10px;
  padding-right: 10px; }
  .button.small .glare {
    margin: 0 4px; }

a.button {
  display: inline; }
  a.button .button_content {
    float: none; }

a.button.small {
  margin-top: 0; }

h2 .button.small {
  margin-top: .25em; }

.text_with_button {
  position: relative;
  float: left;
  top: .5em; }

.button.round, a.button.round {
  border-radius: 1.5em;
  -moz-border-radius: 1.5em; }

.button.round.small {
  border-radius: .8em;
  -moz-border-radius: .8em; }

.button.dark, a.button.dark {
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#5d5c58");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#5d5c58));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #5d5c58);
  /* for firefox 3.6+ */
  border: 1px solid #4d4c48;
  border-top: 1px solid #5d5c58;
  border-left: 1px solid #5d5c58;
  color: #fdfcf8; }

.button.dark:active, .button.dark.pseudo_active {
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d5c58", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5d5c58), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #5d5c58, #9d9c98);
  /* for firefox 3.6+ */
  border: 1px solid #5d5c58;
  border-top: 1px solid #4d4c48;
  border-left: 1px solid #4d4c48; }

.button.light, a.button.light {
  background: #edece8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edece8", endColorstr="#bdbcb8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#edece8), color-stop(0.85, #cdccc8), to(#bdbcb8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #edece8 0%, #cdccc8 85%, #bdbcb8 100%);
  /* for firefox 3.6+ */
  border: 1px solid #9d9c98;
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  color: #6d6c68;
  text-shadow: 0px 1px 1px white; }
  .button.light .glare, a.button.light .glare {
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.3, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
    background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDFFFFFF", endColorstr="#26FFFFFF");
    /* for IE */ }
  .button.light a, a.button.light a {
    color: #6d6c68; }
  .button.light a:hover, a.button.light a:hover {
    color: #9d9c98; }

.button.carmine, a.button.carmine {
  background-color: #df6020;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f87838", endColorstr="#df6020");
  /*progid:DXImageTransform.Microsoft.Light(); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6600), color-stop(0.8, #ff8040), to(#ff8040));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #ff8040, #df6020);
  /* for firefox 3.6+ */
  border: 1px solid #9d9c98;
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  color: #fdfcf8;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5); }
  .button.carmine .glare, a.button.carmine .glare {
    background-color: rgba(255, 255, 255, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.3, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9AFFFFFF", endColorstr="#00FFFFFF");
    /* for IE */ }
  .button.carmine a, a.button.carmine a {
    color: #fdfcf8; }
  .button.carmine a:hover, a.button.carmine a:hover {
    color: #dddcd8; }

.button.light:active, a.button.light:active {
  background: #dddcd8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dddcd8", endColorstr="#cdccc8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#dddcd8), color-stop(0.85, #cdccc8), to(#cdccc8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #dddcd8 0%, #cdccc8 85%, #cdccc8 100%);
  /* for firefox 3.6+ */ }
  .button.light:active .glare, a.button.light:active .glare {
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), color-stop(0.3, rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.1)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#20FFFFFF");
    /* for IE */ }

.button.medium, a.button.medium {
  background: #adaca8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdccc8", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cdccc8), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cdccc8, #9d9c98);
  /* for firefox 3.6+ */
  border: 1px solid #8e8d89;
  border-top: 1px solid #9d9c98;
  border-left: 1px solid #9d9c98;
  color: #0d0c08;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); }
  .button.medium .glare, a.button.medium .glare {
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.07)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF");
    /* for IE */ }
  .button.medium a, a.button.medium a {
    color: #0d0c08; }
  .button.medium a:hover, a.button.medium a:hover {
    color: #4d4c48; }

.button.medium:active, .button.medium.pseudo_active {
  background: #bdbcb8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdbcb8", endColorstr="#adaca8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbcb8), to(#adaca8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #bdbcb8, #adaca8);
  /* for firefox 3.6+ */ }
  .button.medium:active .glare, .button.medium.pseudo_active .glare {
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.1)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF");
    /* for IE */ }

.button.green, a.button.green {
  background: #97b97b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7d99b", endColorstr="#77995b");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#b7d99b), to(#77995b));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #b7d99b, #77995b);
  /* for firefox 3.6+ */
  border: 1px solid #8e8d89;
  border-top: 1px solid #9d9c98;
  border-left: 1px solid #9d9c98;
  color: #0d0c08;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7); }
  .button.green .glare, a.button.green .glare {
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.07)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF");
    /* for IE */ }
  .button.green a, a.button.green a {
    color: #fdfcf8;
    background: none; }
  .button.green a:hover, .button.green a:active, a.button.green a:hover, a.button.green a:active {
    color: #dddcd8;
    background: none; }

.button.green:active, .button.green.pseudo_active {
  background: #97b97b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a7c98b", endColorstr="#87a96b");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a7c98b), to(#87a96b));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #a7c98b, #87a96b);
  /* for firefox 3.6+ */ }
  .button.green:active .glare, .button.green.pseudo_active .glare {
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.1)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF");
    /* for IE */ }

.button.color2, a.button.color2 {
  background: #cdccc8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdbcb8", endColorstr="#edece8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbcb8), to(#edece8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #bdbcb8, #edece8);
  /* for firefox 3.6+ */
  border: 1px solid #adaca8;
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  color: #fdfcf8;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); }
  .button.color2 .glare, a.button.color2 .glare {
    position: absolute;
    top: 0;
    left: 0;
    height: 55%;
    width: 90%;
    margin: 2% 5% 0 5%;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF");
    /* for IE */ }

.button.color2:active, a.button.color2:active {
  background: #cdccc8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdbcb8", endColorstr="#edece8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbcb8), to(#edece8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #bdbcb8, #edece8);
  /* for firefox 3.6+ */
  border: 1px solid #bdbcb8;
  border-top: 1px solid #adaca8;
  border-left: 1px solid #adaca8;
  text-shadow: 0px -1px 1px white; }

.button_content {
  position: relative;
  float: left;
  z-index: 10; }

.plan_button {
  margin: 0 15px; }

[onclick="void(0)"] {
  cursor: pointer; }

.list_action {
  position: relative;
  float: right;
  padding: 0 20px;
  margin-right: 20px;
  height: 2em;
  line-height: 2em;
  background-color: inherit; }
  .list_action a, .list_action a:hover {
    color: #0d0c08; }

.list_action.last {
  margin-right: 0; }

.list_action.selected {
  background-color: #d0e0e0;
  color: #0d0c08;
  font-weight: bold; }

.attach_above {
  border-top: 1px solid #cdccc8;
  border-left: 1px solid #cdccc8;
  border-right: 1px solid #cdccc8; }

.attach_above.selected {
  border-color: #dddcd8; }

.attach_below {
  border-bottom: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  background-color: #dddcd8;
  z-index: 10;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.35); }

.attach_to_bottom_border {
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  margin-bottom: -0.4em; }

.attributes {
  border: 1px solid #bdbcb8;
  cursor: pointer;
  background-color: #fdfcf8; }

.rarr_width {
  font-weight: bold;
  width: 28px;
  cursor: pointer; }

.expand_arrow_width {
  position: relative;
  float: left;
  width: 15px;
  cursor: pointer;
  font-weight: bold; }

.plus_icon {
  font-family: "Times New Roman";
  font-size: 1.2em;
  line-height: 24px;
  height: 24px;
  cursor: pointer; }

.delete {
  font-family: "Times New Roman";
  line-height: 24px;
  height: 24px;
  font-size: 1.2em; }

.attribute_action {
  position: relative;
  float: right;
  padding: 0;
  margin-right: 10px;
  height: 2em; }
  .attribute_action a {
    padding-left: 5px;
    padding-right: 5px;
    background-color: inherit; }
  .attribute_action a:hover {
    background-color: #edece8; }
  .attribute_action a:active {
    background-color: #fdfcf8; }

.overdue, .overdue a {
  color: #df6020; }

.archived, .archived a {
  color: #edece8; }
  .archived .hierarchical, .archived a .hierarchical {
    color: #bdbcb8; }
  .archived .section_heading div, .archived .section_heading a, .archived a .section_heading div, .archived a .section_heading a {
    text-shadow: 0px 1px 1px white;
    color: #9d9c98; }

.archived .hierarchical a {
  color: #adaca8;
  text-shadow: 0px 1px 1px white; }

.flash_notice {
  border: 3px solid #bdbcb8;
  background-color: #fcefa1;
  position: absolute;
  z-index: 12;
  padding: 20px;
  text-align: center; }

.flash_dialog {
  border: 3px solid #bdbcb8;
  background-color: #fcefa1;
  position: absolute;
  z-index: 12;
  padding: 20px; }

.checked {
  color: #df6020; }

.check_box_proxy {
  font-size: 28px;
  line-height: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
  float: left;
  vertical-align: bottom;
  top: -3px; }

.check_box_proxy:hover {
  color: #df6020; }

.archived .check_box_proxy:hover {
  color: inherit; }

.check_box_proxy.in_header {
  font-size: 33px; }

.line_item_height {
  position: relative;
  float: left;
  line-height: 26px; }
  .line_item_height input[type="checkbox"] {
    top: -0.175em;
    margin-bottom: -0.1em; }

.line_item_text {
  position: relative;
  float: left;
  top: 4px;
  margin-bottom: 6px; }

.text_field_button_label {
  height: 30px;
  padding: 0; }
  .text_field_button_label input[type="submit"] {
    vertical-align: middle; }

.in_header {
  margin-top: 3px; }

.sorting {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1004; }

.sortable_drag_handle, .sortable_drag_handle_heading {
  cursor: move; }

.sortable_drag_handle_heading {
  font-size: 1.2em;
  top: .25em; }

.line_item a:hover[data-role=delete].delete {
  color: #df6020; }

[data-action] {
  cursor: pointer; }

.completed {
  text-decoration: line-through; }

.vertical_center {
  vertical-align: middle; }

.full_width {
  position: relative;
  float: left;
  clear: both; }

.allcaps {
  font-size: .85em;
  text-transform: uppercase; }

.coolvetica {
  font-family: CoolveticaRg-Regular; }

.text_right {
  text-align: right; }

.text_center {
  text-align: center; }

.text_left {
  text-align: left; }

.vertical-padding {
  padding-top: 14px;
  padding-bottom: 14px; }

.padding {
  padding: 10px; }

.padding_bottom {
  padding-bottom: 14px; }

.padding_bottom_small {
  padding-bottom: 1em; }

.padding_top {
  padding-top: 14px; }

.padding_left {
  padding-left: .5em; }

.margin_bottom {
  margin-bottom: 14px; }

.margin_bottom_small {
  margin-bottom: .8em; }

.border_top {
  border-top: 1px solid #adaca8; }

.border_bottom {
  border-bottom: 1px solid #adaca8; }

.border {
  border: 1px solid #adaca8; }

.attribution {
  top: -0.1em; }

/* labels*/
.label {
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 7px;
  cursor: pointer; }

.label_placeholder {
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 22px;
  height: 22px; }

.label_nav {
  position: relative;
  float: left;
  margin-bottom: 7px;
  width: 138px; }

.label_wrapper {
  padding: 7px 0 7px 7px;
  margin-right: 7px;
  position: relative;
  float: left;
  border: 1px solid #edece8; }

.label_wrapper.selected, #label_color .label_wrapper.selected {
  border: 1px solid #6d6c68; }

#label_color .label_wrapper {
  border: 1px solid #fdfcf8; }

.mytime .Red_Orange {
  background-color: #ef3f10;
  color: #fdfcf8; }
  .mytime .Red_Orange a {
    color: #fdfcf8; }
  .mytime .Red_Orange a:hover {
    color: #edece8; }

.mytime .Lemon_Pie {
  background-color: #fcefa1;
  color: #0d0c08; }
  .mytime .Lemon_Pie a {
    color: #0d0c08; }
  .mytime .Lemon_Pie a:hover {
    color: #4d4c48; }

.mytime .Grass {
  background-color: #87a96b;
  color: #fdfcf8; }
  .mytime .Grass a {
    color: #fdfcf8; }
  .mytime .Grass a:hover {
    color: #edece8; }

.mytime .Pacific_Blue {
  background-color: #90b0b0;
  color: #fdfcf8; }
  .mytime .Pacific_Blue a {
    color: #fdfcf8; }
  .mytime .Pacific_Blue a:hover {
    color: #edece8; }

.mytime .Indigo {
  background-color: #5d76cb;
  color: #fdfcf8; }
  .mytime .Indigo a {
    color: #fdfcf8; }
  .mytime .Indigo a:hover {
    color: #edece8; }

.mytime .Wisteria {
  background-color: #cda4de;
  color: #0d0c08; }
  .mytime .Wisteria a {
    color: #0d0c08; }
  .mytime .Wisteria a:hover {
    color: #4d4c48; }

.mytime .Cotton_Candy {
  background-color: #ffbcd9;
  color: #0d0c08; }
  .mytime .Cotton_Candy a {
    color: #0d0c08; }
  .mytime .Cotton_Candy a:hover {
    color: #4d4c48; }

.mytime .Black {
  background-color: #0d0c08;
  color: #fdfcf8; }
  .mytime .Black a {
    color: #fdfcf8; }
  .mytime .Black a:hover {
    color: #edece8; }

.mytime .Gray {
  background-color: #9d9c98;
  color: #0d0c08; }
  .mytime .Gray a {
    color: #0d0c08; }
  .mytime .Gray a:hover {
    color: #4d4c48; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -1em 0 0.6em 5em; }

.ui-timepicker-div td {
  font-size: 90%; }

.mytime .ui-datepicker {
  width: 20em;
  font-size: .7em; }

.hasDatepicker {
  z-index: 20; }

.mytime .ui-timepicker-div dl dd.ui_tpicker_time {
  margin-top: -2.3em; }
