body {
  background-color: #edece8;
  color: #6d6c68;
  font-size: 16px;
  line-height: 26px; }

a {
  color: #4d4c48;
  text-decoration: none; }

a:hover {
  color: #bdbcb8;
  background-color: #edece8;
  text-decoration: none; }

a.quiet, div.quiet, span.quiet, .explanatory {
  font-size: 12px;
  line-height: 20px; }

div.small, a.small, span.small {
  line-height: 20px; }

div.quiet, span.quiet {
  color: #90b0b0; }

a.loud, div.loud, span.loud {
  font-size: 18px; }

hr {
  color: #6d6c68; }

h1 {
  color: #8e8d89;
  margin-left: -16px;
  margin-bottom: 20px;
  font-size: 32px; }

h2 {
  font-size: 22px;
  line-height: 30px; }

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold; }

p {
  line-height: 22px; }

input[type=text], textarea {
  background-color: #fcfcfa; }

input {
  font-size: 16px;
  height: 26px;
  vertical-align: bottom;
  position: relative; }

input[type="checkbox"] {
  top: -3px; }

input[type="text"], input[type="password"] {
  padding: .3em;
  height: auto; }

textarea {
  position: relative;
  font-size: 16px; }

input[type="submit"] {
  color: #ee3434;
  height: 26px; }

select {
  top: -2px;
  font-size: 16px;
  font-weight: normal; }

select.with_text_field {
  position: relative;
  top: .4em; }

#inbox_text_area {
  width: 335px;
  height: 78px; }

.index_add_text_box {
  width: 300px; }

#top_nav {
  background-color: #6d6c68;
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#5d5c58");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#5d5c58));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #5d5c58);
  /* for firefox 3.6+ */
  color: #fdfcf8; }
  #top_nav a {
    color: #fdfcf8; }
  #top_nav a:hover {
    color: #6d6c68; }

#main_modal_view {
  border: 1px solid #6d6c68;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  background: #dddcd8;
  width: 790px;
  padding: 20px 20px 20px 40px;
  z-index: 1000; }

#modal_mask {
  position: absolute;
  background-color: #0d0c08;
  z-index: 999; }

#close_dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 8px;
  border-bottom: 1px solid #6d6c68;
  border-right: 1px solid #6d6c68;
  z-index: 10;
  cursor: pointer; }

.page_content {
  padding: 26px 0 26px 38px;
  margin: 0 -16px 16px -16px;
  min-height: 300px;
  background-color: #dddcd8;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }

.user_title {
  color: #5d5c58; }

.h2_text_padding {
  padding-top: .4em; }

.explanatory {
  background-color: #fdfcf8;
  padding: 20px; }

.section_margin_top {
  margin-top: 20px; }

.list_section {
  margin-left: -16px;
  padding: 16px;
  background-color: #bdbcb8;
  line-height: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .list_section a:hover {
    background-color: #dddcd8;
    color: #6d6c68; }

.list_section_inner {
  margin-left: 20px; }

.section {
  background-color: #f0f8f8;
  margin-left: -16px;
  padding: 16px;
  line-height: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .section a:hover {
    background-color: #fbffff; }

.half_section {
  position: relative;
  float: left;
  width: 360px;
  margin-right: 50px; }

.half_section.last, .half_select.last {
  margin-right: 0; }

.half_select {
  position: relative;
  float: left;
  width: 175px;
  margin-right: 10px; }

.section_heading {
  background-color: #8e8d89;
  color: #fdfcf8;
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#5d5c58");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#5d5c58));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #5d5c58);
  /* for firefox 3.6+ */
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

.section_heading.overdue {
  background-color: #fdfcf8;
  color: #ee3434;
  background: #fdfcf8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr="#dddcd8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddcd8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #dddcd8);
  /* for firefox 3.6+ */ }

.left_nav_wrapper {
  position: relative;
  float: left;
  margin-right: 22px;
  width: 218px; }

.left_subnav_wrapper {
  min-width: 180px; }

.vert-line-nav-wrapper-main {
  padding-left: 12px;
  position: relative;
  float: left;
  width: 95%;
  margin-bottom: .4em;
  line-height: 30px;
  background-color: #fdfcf8;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .vert-line-nav-wrapper-main a:hover {
    color: #bdbcb8;
    background-color: inherit; }
  .vert-line-nav-wrapper-main a {
    color: #4d4c48; }
  .vert-line-nav-wrapper-main .vert_line_subnav_wrapper {
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 8px;
    position: relative;
    float: left;
    width: 93%;
    font-size: 16px;
    line-height: 20px; }
    .vert-line-nav-wrapper-main .vert_line_subnav_wrapper .label a.selected, .vert-line-nav-wrapper-main .vert_line_subnav_wrapper .label a:hover.selected {
      color: inherit; }
    .vert-line-nav-wrapper-main .vert_line_subnav_wrapper a.selected, .vert-line-nav-wrapper-main .vert_line_subnav_wrapper a:hover.selected {
      font-weight: bold;
      color: #0d0c08; }
    .vert-line-nav-wrapper-main .vert_line_subnav_wrapper a:hover {
      color: #bdbcb8; }

div.vert-line-nav-wrapper-main.selected {
  width: 212px;
  background-color: #dddcd8;
  background: #dddcd8;
  filter: none;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }

.vert_line_subnav_wrapper.selected {
  font-weight: bold;
  color: #0d0c08; }

.vert-line-nav-wrapper-header {
  padding-left: 12px; }

.hover_nav_selected {
  width: 212px; }

.hover_nav {
  position: absolute;
  left: 138px;
  top: -1px;
  z-index: 10;
  width: auto;
  min-width: 130px;
  background-color: #fdfcf8;
  padding: 0px 12px 5px 12px;
  border: 1px solid #bdbcb8;
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3); }
  .hover_nav .vert_line_subnav_wrapper {
    margin-top: 8px;
    padding-bottom: 2px; }

.hover_nav_pointer {
  position: absolute;
  left: -30px;
  top: -2px; }

.selected a {
  color: #0d0c08; }

.selected a:hover {
  color: #0d0c08; }

a.selected {
  font-weight: bold; }

a:hover.selected {
  color: #0d0c08; }

.selected_indicator {
  position: absolute;
  left: 0em; }

.line_item {
  border-bottom: 1px solid #6d6c68;
  padding: .4em 0;
  margin-bottom: 0; }
  .line_item select {
    position: relative;
    top: .3em; }
  .line_item input[type="submit"] {
    position: relative;
    top: -0.25em; }

.task_line_item_left {
  position: absolute;
  left: 0; }

.task_line_item_middle {
  left: 40px; }

.line_item_soft {
  padding-bottom: .4em;
  padding-top: .4em; }

.line_item_control_expander {
  background-color: #fdfcf8;
  border: 1px solid #9d9c98;
  height: 24px;
  z-index: 1002;
  cursor: pointer; }

.line_item_control_expander_labels {
  background-color: #fdfcf8;
  border: 1px solid #9d9c98;
  height: 20px;
  z-index: 1002;
  cursor: pointer; }

.line_item_control_expander_active {
  border-bottom: none; }

.line_item_expand_control {
  position: absolute;
  top: 24px;
  left: 0;
  width: 128px;
  z-index: 1001;
  padding: 1em;
  background-color: #fdfcf8;
  border: 1px solid #9d9c98; }

.line_item_expand_control_labels {
  width: 200px;
  top: 20px;
  left: 0; }

.line_item_expand_control_clickable {
  position: relative;
  float: left;
  top: .2em;
  cursor: pointer; }

.list_action {
  position: relative;
  float: right;
  padding: 0 20px;
  margin-right: 20px;
  height: 2em;
  line-height: 2em;
  background-color: inherit; }
  .list_action a, .list_action a:hover {
    background-color: inherit; }

.list_action.last {
  margin-right: 0; }

.list_action.selected {
  background-color: #dddcd8;
  color: #0d0c08;
  font-weight: bold; }

.attach_above {
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

.attach_above.selected {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }

.attach_below {
  border-bottom: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  background-color: #dddcd8;
  z-index: 10;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

.attach_to_bottom_border {
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  margin-bottom: -0.4em; }

.attributes {
  border: 1px solid #bdbcb8;
  z-index: 10;
  cursor: pointer;
  background-color: #fdfcf8; }

.buttons_up {
  background: #fdfcf8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr="#dddcd8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddcd8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #dddcd8);
  /* for firefox 3.6+ */ }

.buttons_down {
  background: #fdfcf8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dddcd8", endColorstr='white');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#dddcd8), to(white));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #dddcd8, white);
  /* for firefox 3.6+ */ }

.attribute_action {
  position: relative;
  float: right;
  padding: 0;
  margin-right: 10px;
  height: 2em; }
  .attribute_action a {
    background-color: inherit; }
  .attribute_action a:hover {
    background-color: #fdfcf8;
    background: #fdfcf8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr="#dddcd8");
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddcd8));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, white, #dddcd8);
    /* for firefox 3.6+ */ }

.overdue, .overdue a {
  color: #ee3434; }

.archived, .archived a {
  color: #edece8; }

.flash_notice {
  border: 1px solid #bdbcb8;
  background-color: #fdfcf8;
  text-align: center;
  position: absolute;
  width: 90%;
  top: 40%;
  left: 5%;
  z-index: 10; }

.checked {
  color: #ee3434; }

.check_box_proxy {
  font-size: 28px;
  line-height: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
  float: left;
  vertical-align: bottom;
  top: -3px; }

.check_box_proxy:hover {
  color: #ee3434; }

.check_box_proxy.in_header {
  font-size: 33px; }

.line_item_height {
  position: relative;
  float: left;
  line-height: 26px; }
  .line_item_height input[type="checkbox"] {
    margin-bottom: -0.1em; }

.text_field_button_label {
  height: 30px;
  padding: 0; }
  .text_field_button_label input[type="submit"] {
    vertical-align: middle; }

.in_header {
  margin-top: 3px; }

.sorting {
  background-color: #fdfcf8;
  z-index: 100; }

.sortable_drag_handle {
  cursor: move; }

.delete {
  position: relative;
  line-height: 26px;
  top: 0;
  font-size: 18px; }

a:hover[data-role=delete].delete {
  background-color: inherit;
  color: #ee3434; }

.completed {
  text-decoration: line-through; }

.vertical_center {
  vertical-align: middle; }

.strong_box {
  position: relative;
  float: left; }

.text_right {
  text-align: right; }

.text_center {
  text-align: center; }

.text_left {
  text-align: left; }

.vertical-padding {
  padding-top: 14px;
  padding-bottom: 14px; }

.padding_bottom {
  padding-bottom: 14px; }

.padding_top {
  padding-top: 14px; }

.margin_bottom {
  margin-bottom: 14px; }

.border_top {
  border-top: 1px solid #6d6c68; }

.border_bottom {
  border-bottom: 1px solid #6d6c68; }

.border {
  border: 1px solid #6d6c68; }

/* labels*/
.label {
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 7px;
  border: 1px solid #4d4c48;
  cursor: pointer; }

.label_placeholder {
  position: relative;
  float: left;
  font-size: 12px;
  line-height: "22px"; }

.label_nav {
  position: relative;
  float: left;
  margin-bottom: 7px;
  width: 138px; }

.label_wrapper {
  padding: 7px 0 7px 7px;
  margin-right: 7px;
  position: relative;
  float: left;
  border: 1px solid #f0f8f8; }

.label_wrapper.selected {
  border: 1px solid #6d6c68; }

.mytime .Red_Orange {
  background-color: #ff5349;
  color: #fdfcf8; }
  .mytime .Red_Orange a {
    color: #fdfcf8; }
  .mytime .Red_Orange a:hover {
    color: #edece8; }

.mytime .Melon {
  background-color: #fdbcb4;
  color: #0d0c08; }
  .mytime .Melon a {
    color: #0d0c08; }
  .mytime .Melon a:hover {
    color: #4d4c48; }

.mytime .Orange {
  background-color: #ff7538;
  color: #fdfcf8; }
  .mytime .Orange a {
    color: #fdfcf8; }
  .mytime .Orange a:hover {
    color: #edece8; }

.mytime .Atomic_Tangerine {
  background-color: #ffa474;
  color: #0d0c08; }
  .mytime .Atomic_Tangerine a {
    color: #0d0c08; }
  .mytime .Atomic_Tangerine a:hover {
    color: #4d4c48; }

.mytime .Laser_Lemon {
  background-color: #fdfc74;
  color: #0d0c08; }
  .mytime .Laser_Lemon a {
    color: #0d0c08; }
  .mytime .Laser_Lemon a:hover {
    color: #4d4c48; }

.mytime .Electric_Lime {
  background-color: #1df914;
  color: #0d0c08; }
  .mytime .Electric_Lime a {
    color: #0d0c08; }
  .mytime .Electric_Lime a:hover {
    color: #4d4c48; }

.mytime .Shamrock {
  background-color: #45cea2;
  color: #0d0c08; }
  .mytime .Shamrock a {
    color: #0d0c08; }
  .mytime .Shamrock a:hover {
    color: #4d4c48; }

.mytime .Pacific_Blue {
  background-color: #1ca9c9;
  color: #fdfcf8; }
  .mytime .Pacific_Blue a {
    color: #fdfcf8; }
  .mytime .Pacific_Blue a:hover {
    color: #edece8; }

.mytime .Cornflower {
  background-color: #9aceeb;
  color: #0d0c08; }
  .mytime .Cornflower a {
    color: #0d0c08; }
  .mytime .Cornflower a:hover {
    color: #4d4c48; }

.mytime .Periwinkle {
  background-color: #c5d0e6;
  color: #0d0c08; }
  .mytime .Periwinkle a {
    color: #0d0c08; }
  .mytime .Periwinkle a:hover {
    color: #4d4c48; }

.mytime .Indigo {
  background-color: #5d76cb;
  color: #fdfcf8; }
  .mytime .Indigo a {
    color: #fdfcf8; }
  .mytime .Indigo a:hover {
    color: #edece8; }

.mytime .Purple_Heart {
  background-color: #7442c8;
  color: #fdfcf8; }
  .mytime .Purple_Heart a {
    color: #fdfcf8; }
  .mytime .Purple_Heart a:hover {
    color: #edece8; }

.mytime .Wisteria {
  background-color: #cda4de;
  color: #0d0c08; }
  .mytime .Wisteria a {
    color: #0d0c08; }
  .mytime .Wisteria a:hover {
    color: #4d4c48; }

.mytime .Shocking_Pink {
  background-color: #fb7efd;
  color: #0d0c08; }
  .mytime .Shocking_Pink a {
    color: #0d0c08; }
  .mytime .Shocking_Pink a:hover {
    color: #4d4c48; }

.mytime .Cotton_Candy {
  background-color: #ffbcd9;
  color: #0d0c08; }
  .mytime .Cotton_Candy a {
    color: #0d0c08; }
  .mytime .Cotton_Candy a:hover {
    color: #4d4c48; }

.mytime .Black {
  background-color: #0d0c08;
  color: #fdfcf8; }
  .mytime .Black a {
    color: #fdfcf8; }
  .mytime .Black a:hover {
    color: #edece8; }

.mytime .Gray {
  background-color: #9d9c98;
  color: #0d0c08; }
  .mytime .Gray a {
    color: #0d0c08; }
  .mytime .Gray a:hover {
    color: #4d4c48; }

.mytime .White {
  background-color: #fdfcf8;
  color: #0d0c08; }
  .mytime .White a {
    color: #0d0c08; }
  .mytime .White a:hover {
    color: #4d4c48; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -1em 0 0.6em 5em; }

.ui-timepicker-div td {
  font-size: 90%; }

.mytime .ui-datepicker {
  width: 20em;
  font-size: .7em; }

.hasDatepicker {
  z-index: 20; }

.mytime .ui-timepicker-div dl dd.ui_tpicker_time {
  margin-top: -2.3em; }
