body {
  background-color: #edece8;
  color: #6d6c68; }

h2 {
  color: #8e8d89;
  padding-left: .2em; }

p {
  margin: 0;
  padding-bottom: 1em; }

a {
  text-decoration: none;
  color: #0d0c08; }

h2 {
  font-size: 1.5em; }

a:hover {
  color: #bdbcb8; }

textarea {
  width: 97%;
  margin-bottom: 1em;
  font-size: 1em; }

select {
  width: 97%;
  margin-bottom: 2em;
  font-size: 1em; }

select.auto_width {
  width: auto; }

input[type="text"], input[type="password"] {
  width: 95%;
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.5em; }

input[type="text"].title {
  width: 95%; }

input[type="submit"] {
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -webkit-appearance: none; }

.mytime input[type="submit"].list_action {
  margin-top: -0.4em;
  margin-bottom: .5em; }

div#testone.testone {
  position: relative;
  height: 120px;
  width: 100%; }

.meta_nav {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  color: #fdfcf8;
  height: 3.3em;
  font-size: .75em;
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3c38", endColorstr="#0d0c08");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5d5c58), to(#2d2c28));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #3d3c38, #0d0c08);
  /* for firefox 3.6+ */ }
  .meta_nav h1 {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center; }
  .meta_nav div {
    position: absolute;
    display: block;
    top: .5em; }
  .meta_nav div.left {
    left: .6em; }
  .meta_nav div.right {
    right: .6em; }

.main_nav {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  border-top: 1px solid #4d4c48;
  border-bottom: 1px solid #4d4c48;
  border-left-width: 0px;
  border-right-width: 0px;
  overflow: hidden;
  font-size: .75em;
  background: #adaca8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdccc8", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cdccc8), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cdccc8, #9d9c98);
  /* for firefox 3.6+ */
  background-color: #4d4c48; }
  .main_nav .quarter_nav {
    position: relative;
    float: left;
    width: 25%;
    overflow: hidden;
    display: block; }
    .main_nav .quarter_nav .border_wrapper.button {
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-left: 1px solid #4d4c48;
      border-right: none;
      border-bottom: none;
      text-align: center;
      padding: .5em 0;
      line-height: 1.75em; }
      .main_nav .quarter_nav .border_wrapper.button a {
        color: #fdfcf8;
        font-weight: bold;
        text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7); }

.sub_nav {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: .75em; }
  .sub_nav .full_nav {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    display: block;
    background-color: #5d5c58; }
    .sub_nav .full_nav .border_wrapper {
      padding: .8em; }
      .sub_nav .full_nav .border_wrapper a {
        color: #fdfcf8;
        font-weight: bold;
        text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7); }

.container {
  position: relative;
  float: left;
  width: 96%;
  padding: 0 2%; }

.list_container {
  position: relative;
  float: left;
  width: 100%;
  background-color: #edece8;
  margin-bottom: .5em;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }

.section {
  border: none;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  border-bottom: 1px solid #bdbcb8; }

.half_section {
  position: relative;
  float: left;
  width: 50%;
  padding: .7em 0;
  text-align: center; }

.third_section {
  position: relative;
  float: left;
  width: 33%;
  padding: .7em 0;
  text-align: center; }

.half_section.selected, .third_section.selected {
  background-color: #edece8;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }

div.section.borderless {
  border: none; }

.block {
  position: relative;
  float: left;
  width: 100%; }

.user_title {
  color: #5d5c58; }

.list {
  position: relative; }

.row {
  position: relative;
  width: 100%;
  float: left; }

.row_item {
  position: relative;
  float: left;
  z-index: 0;
  display: inline-block; }

.row_item.right {
  float: right; }

.list_action {
  position: relative;
  float: right;
  text-align: right; }

.list_action.attributes {
  padding-left: 5px; }

.row_item.line_item_height {
  margin-top: .9em;
  margin-bottom: .9em; }

.heading {
  background-color: #8e8d89;
  color: #fdfcf8;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

.heading.overdue {
  background-color: #fdfcf8;
  color: #ee3434; }

.controls {
  padding-top: 1em;
  height: 2em; }

.control {
  position: absolute;
  top: .5em;
  margin-bottom: 1em;
  padding: 0 1em;
  font-size: .8em;
  text-align: center;
  line-height: 2.5em; }

.control.left {
  left: .6em; }

.control.right {
  right: .6em; }

a.button {
  display: block;
  position: relative;
  font-size: .8em;
  text-align: center;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  padding: .4em .5em .4em .6em;
  /* Links */
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7); }

a.button.left {
  float: left; }

a.button.right {
  float: right; }

.button.round, a.button.round {
  border-radius: 1.5em; }

.button.dark, a.button.dark {
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#5d5c58");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#5d5c58));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #5d5c58);
  /* for firefox 3.6+ */
  border: 1px solid #4d4c48;
  border-top: 1px solid #5d5c58;
  border-left: 1px solid #5d5c58;
  color: #fdfcf8; }

.button.dark:active, a.button.dark:active {
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d5c58", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5d5c58), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #5d5c58, #9d9c98);
  /* for firefox 3.6+ */
  border: 1px solid #5d5c58;
  border-top: 1px solid #4d4c48;
  border-left: 1px solid #4d4c48; }

.button.medium, a.button.medium {
  background: #adaca8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdccc8", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cdccc8), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cdccc8, #9d9c98);
  /* for firefox 3.6+ */
  border: 1px solid #8e8d89;
  border-top: 1px solid #9d9c98;
  border-left: 1px solid #9d9c98;
  color: #fdfcf8; }

.button.medium:active, a.button.medium:active {
  background: #adaca8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#cdccc8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#cdccc8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #cdccc8);
  /* for firefox 3.6+ */
  border: 1px solid #9d9c98;
  border-top: 1px solid #8e8d89;
  border-left: 1px solid #8e8d89; }

.button.color2, a.button.color2 {
  background: #cdccc8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edece8", endColorstr="#bdbcb8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#edece8), to(#bdbcb8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #edece8, #bdbcb8);
  /* for firefox 3.6+ */
  border: 1px solid #adaca8;
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  color: #5d5c58;
  text-shadow: 0px -1px 1px white; }

.button.color2:active, a.button.color2:active {
  background: #cdccc8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdbcb8", endColorstr="#edece8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbcb8), to(#edece8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #bdbcb8, #edece8);
  /* for firefox 3.6+ */
  border: 1px solid #bdbcb8;
  border-top: 1px solid #adaca8;
  border-left: 1px solid #adaca8; }

.button.light, a.button.light {
  background: #dddcd8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#cdccc8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdccc8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #cdccc8);
  /* for firefox 3.6+ */
  border: 1px solid #bdbcb8;
  border-top: 1px solid #cdccc8;
  border-left: 1px solid #cdccc8;
  color: #6d6c68;
  text-shadow: 0px -1px 1px white; }

.button.light:active, a.button.light:active {
  background: #dddcd8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdccc8", endColorstr="white");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cdccc8), to(white));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cdccc8, white);
  /* for firefox 3.6+ */
  border: 1px solid #cdccc8;
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8; }

a.button.small {
  font-size: .8em;
  font-weight: normal;
  display: inline; }

.button.control_font {
  padding-left: .4em;
  padding-right: .4em;
  padding-bottom: .1em;
  border-radius: 2em; }

button.button {
  padding: .6em; }

.controls.overdue {
  background-color: #fdfcf8;
  color: #ee3434;
  background: #dddcd8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#cdccc8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdccc8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #cdccc8);
  /* for firefox 3.6+ */ }

.completed {
  text-decoration: line-through; }

.border_bottom {
  border-bottom: 1px solid #bdbcb8; }

.padding_bottom {
  padding-bottom: .5em; }

.padding_top {
  padding-top: .5em; }

.padding_top_button {
  padding-top: .5em; }

.padding_top_button.small {
  padding-top: .9em; }

.padding_left {
  padding-left: .5em; }

.padding {
  position: relative;
  float: left;
  padding: .5em 1.5%;
  width: 97%; }

.text_center {
  text-align: center; }

.eightteen {
  width: 18%; }

.check_box {
  margin-right: 0; }
  .check_box .checkbox_placeholder {
    margin-left: 3px; }

.row_item.line_variable_text {
  width: 64%;
  margin-bottom: .9em; }

.row_item.header_variable_text {
  width: 82%; }

.project_variable_text {
  width: 82%; }

.row_item.h2_padding {
  padding-top: 1.4em; }

.row_item.check_box.h2_padding {
  padding-top: .8em; }

.row_item.h3_padding {
  padding-top: 1.2em; }

.check_box_proxy {
  width: auto; }

div.checked {
  color: #ee3434; }

.control_font {
  margin-top: .65em;
  font-size: 1.5em; }

.row_item.delete {
  position: relative; }

.sorting {
  background-color: #fdfcf8;
  z-index: 100; }

.attach_bottom {
  border-bottom: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  margin-top: 0;
  margin-bottom: .5em; }

.archived a {
  color: #fdfcf8; }

.small {
  font-size: .8em; }

.section_margin_top {
  margin-top: 1em; }

.sort_drag_handle {
  position: relative;
  float: left;
  top: .9em; }

.asterisk_icon {
  position: relative;
  top: -0.15em;
  font-size: 2em; }

.otimes_icon {
  position: relative;
  top: -0.1em;
  font-size: 1.3em; }

/* Labels */
.label {
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 7px;
  border: 1px solid #4d4c48;
  border-radius: 4px; }

.label_wrapper {
  padding: 7px 0 7px 7px;
  position: relative;
  float: left;
  border: 1px solid #edece8; }

.label_wrapper.selected {
  border: 1px solid #6d6c68; }

.labels_inline {
  margin-bottom: -0.4em;
  margin-top: .2em; }

.mytime .Red_Orange {
  background-color: #ff5349;
  color: #fdfcf8; }
  .mytime .Red_Orange a {
    color: #fdfcf8; }
  .mytime .Red_Orange a:hover {
    color: #edece8; }

.mytime .Melon {
  background-color: #fdbcb4;
  color: #0d0c08; }
  .mytime .Melon a {
    color: #0d0c08; }
  .mytime .Melon a:hover {
    color: #4d4c48; }

.mytime .Orange {
  background-color: #ff7538;
  color: #fdfcf8; }
  .mytime .Orange a {
    color: #fdfcf8; }
  .mytime .Orange a:hover {
    color: #edece8; }

.mytime .Atomic_Tangerine {
  background-color: #ffa474;
  color: #0d0c08; }
  .mytime .Atomic_Tangerine a {
    color: #0d0c08; }
  .mytime .Atomic_Tangerine a:hover {
    color: #4d4c48; }

.mytime .Laser_Lemon {
  background-color: #fdfc74;
  color: #0d0c08; }
  .mytime .Laser_Lemon a {
    color: #0d0c08; }
  .mytime .Laser_Lemon a:hover {
    color: #4d4c48; }

.mytime .Electric_Lime {
  background-color: #1df914;
  color: #0d0c08; }
  .mytime .Electric_Lime a {
    color: #0d0c08; }
  .mytime .Electric_Lime a:hover {
    color: #4d4c48; }

.mytime .Shamrock {
  background-color: #45cea2;
  color: #0d0c08; }
  .mytime .Shamrock a {
    color: #0d0c08; }
  .mytime .Shamrock a:hover {
    color: #4d4c48; }

.mytime .Pacific_Blue {
  background-color: #1ca9c9;
  color: #fdfcf8; }
  .mytime .Pacific_Blue a {
    color: #fdfcf8; }
  .mytime .Pacific_Blue a:hover {
    color: #edece8; }

.mytime .Cornflower {
  background-color: #9aceeb;
  color: #0d0c08; }
  .mytime .Cornflower a {
    color: #0d0c08; }
  .mytime .Cornflower a:hover {
    color: #4d4c48; }

.mytime .Periwinkle {
  background-color: #c5d0e6;
  color: #0d0c08; }
  .mytime .Periwinkle a {
    color: #0d0c08; }
  .mytime .Periwinkle a:hover {
    color: #4d4c48; }

.mytime .Indigo {
  background-color: #5d76cb;
  color: #fdfcf8; }
  .mytime .Indigo a {
    color: #fdfcf8; }
  .mytime .Indigo a:hover {
    color: #edece8; }

.mytime .Purple_Heart {
  background-color: #7442c8;
  color: #fdfcf8; }
  .mytime .Purple_Heart a {
    color: #fdfcf8; }
  .mytime .Purple_Heart a:hover {
    color: #edece8; }

.mytime .Wisteria {
  background-color: #cda4de;
  color: #0d0c08; }
  .mytime .Wisteria a {
    color: #0d0c08; }
  .mytime .Wisteria a:hover {
    color: #4d4c48; }

.mytime .Shocking_Pink {
  background-color: #fb7efd;
  color: #0d0c08; }
  .mytime .Shocking_Pink a {
    color: #0d0c08; }
  .mytime .Shocking_Pink a:hover {
    color: #4d4c48; }

.mytime .Cotton_Candy {
  background-color: #ffbcd9;
  color: #0d0c08; }
  .mytime .Cotton_Candy a {
    color: #0d0c08; }
  .mytime .Cotton_Candy a:hover {
    color: #4d4c48; }

.mytime .Black {
  background-color: #0d0c08;
  color: #fdfcf8; }
  .mytime .Black a {
    color: #fdfcf8; }
  .mytime .Black a:hover {
    color: #edece8; }

.mytime .Gray {
  background-color: #9d9c98;
  color: #0d0c08; }
  .mytime .Gray a {
    color: #0d0c08; }
  .mytime .Gray a:hover {
    color: #4d4c48; }

.mytime .White {
  background-color: #fdfcf8;
  color: #0d0c08; }
  .mytime .White a {
    color: #0d0c08; }
  .mytime .White a:hover {
    color: #4d4c48; }

/* reset
html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* Remove annoying border on linked images. */
a img {
  border: none; }

/* Remember to define your own focus styles! */
/* Default font settings.
/*   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 100.01%; }

body {
  font-size: 1em;
  color: #5d5c58;
  margin: 0;
  padding: 0;
  border: 0;
  background: #fdfcf8;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  float: left;
  width: 100%; }
