$dark-blue: #557777;
$blue: #90B0B0;
$light-blue: #DDF5F5;
$light-carmine: #E55;
$carmine: #EE3434;
$pale-gray: #FDFCF8;
$light-gray: #EDECE8;
$grayish: #DDDCD8;
$gray: #bdbcb8;
$middle-gray: #5d5c58;
$charcoal: #4A403B;
$black: #111;
$taupe: #6D6C68;
$light-taupe: #8E8D89;
$paper: #FDFCF8;
$yellow: #FFF8D0;
$white: #FCFCFA;

@mixin full-width {
  position: relative;
  width: 100%;
}
body {
	background-color: $light-gray;
	color: $taupe;
}
p {
  margin: 0;
  padding-bottom: 1em;
}
a{
  text-decoration: none;
  color: $black;
}
a:hover {
  color: $gray;
}
textarea {
  width: 100%;
}
.section {
  position:relative;
  float:left;
  @include full-width;
  border-bottom: 1px solid $gray;
}
.border_bottom {
  border-bottom: 1px solid $gray;
}
.padding_bottom {
  padding-bottom: 10px;
}
.list {
  position:relative;
}
.row {
  @include full-width;
  height: 3.5em;
  overflow: hidden;
}
.row_item {
  position: relative;
  float: left;
  z-index: 0;
  display: inline-block;
  margin-right: .6em;
  .ui-checkbox{
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 0;
    input {
      position: relative;
      left: 0;
      top: 0;
      margin: 0;
      z-index: 0;
      width: auto;
    }
  }
}
.list_action {
  position:relative;
  float:right;
  text-align: right;
}
.list_action.attributes {
  padding-left: 5px;
}
.row_item.text_with_check_box_proxy{
  margin-top: 1.1em;
  margin-right: 1.2em;
  input[type="checkbox"] {
    margin-top: -.1em;
    height: 2em;
    width: 2em;
  }
}
.row_item.variable_text{
  height: 1.2em;
  width: 50%;
  overflow: hidden;
}
.row_item.h2_padding {
  padding-top: 1.5em;
}
.row_item.h3_padding {
  padding-top: 1.2em;
}
.row_item.check_box_proxy, .row_item .check_box_proxy{
  margin-top: -.15em;
  font-size: 2.5em;
  line-height: 1.4em;
}
.row_item .check_box_proxy.in_header {
  margin-top: 0;
  font-size: 40px;
}
.check_box_proxy.checked {
	color: $carmine;
}

.row_item.delete{
  position:relative;
  top: -.3em;
  font-size: 1.8em;
}
.list_action .row_item.delete {
  top: .3em;
}
.ui-bar-a.mytime {
  background: $taupe;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($taupe), to($charcoal));
}
.ui-btn-up-a.mytime  {
  background: $taupe;
  border: 1px solid $black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($light-taupe), to($taupe));
}
.ui-btn-down-a.mytime  {
  background: $taupe;
  border: 1px solid $black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($taupe), to($light-taupe));
}
.mytime .ui-btn-up-c  {
  background: $paper;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($paper), to($light-gray));
  border: 1px solid $grayish;
  border-bottom: 1px solid $gray;
}
.mytime .ui-btn-up-c.selected  {
  background: $light-gray;
  border: 1px solid $gray;
  border-bottom: none;
}
.mytime .ui-body-c {
  background: $light-gray;
  color: $taupe;
}
.mytime div.last{
  margin-right: 0;
}

.section_margin_top {
  margin-top: 1em;
}