$dark-blue: #557777;
$blue: #90B0B0;
$light-blue: #DDF5F5;
$pale-blue: #f0f8f8;
$blue-wash: #fbffff;
$light-carmine: #E55;
$carmine: #EE3434;
$paper: #FDFCF8;
$gray0-5: #F5F4F0;
$gray1: #EDECE8;
$gray2: #DDDCD8;
$gray3: #CDCCC8;
$gray4: #bdbcb8;
$gray5: #adaca8;
$gray6: #9d9c98;
$gray7: #8E8D89;
$gray8: #6D6C68;
$gray9: #5D5C58;
$gray10: #4D4C48;
$gray11: #3D3C38;
$gray12: #2D2C28;
$black: #0D0C08;
$light-yellow: #FFF8D0;
$yellow: #fcefa1;
$white: #FCFCFA;
$Red_Orange: #EF3F10;
$Lemon_Pie: #fcefa1;
$Grass: #87A96B;
$Pacific_Blue: #90B0B0;
$Indigo: #5D76CB;
$Wisteria: #CDA4DE;
$Cotton_Candy: #FFBCD9;
$compact-font-size: 12px;
$compact-line-height: 20px;

@mixin small-shadow {
	-webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, .3);
	box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, .3);
}
@mixin large-shadow {
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}
@mixin black-gradient {
	background: $gray8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray11}", endColorstr="#{$black}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray9), to($gray12)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray11,  $black); /* for firefox 3.6+ */
}
@mixin black-gradient-down {
	background: $gray8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray9}", endColorstr="#{$gray6}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray9), to($gray6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray9,  $gray6); /* for firefox 3.6+ */
}
@mixin dark-gradient {
	background: $gray8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray6}", endColorstr="#{$gray9}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray6), to($gray9)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray6,  $gray9); /* for firefox 3.6+ */
}
@mixin dark-gradient-down {
	background: $gray8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray9}", endColorstr="#{$gray6}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray9), to($gray6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray9,  $gray6); /* for firefox 3.6+ */
}
@mixin light-gradient {
	background: $gray2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#{$gray3}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to($gray3)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  white,  $gray3); /* for firefox 3.6+ */
}
@mixin light-gradient-down {
	background: $gray2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray3}", endColorstr="white"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray3), to(white)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray3,  white); /* for firefox 3.6+ */
}
@mixin medium-gradient {
	background: $gray5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray3}", endColorstr="#{$gray6}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray3), to($gray6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray3,  $gray6); /* for firefox 3.6+ */
}
@mixin medium-gradient-down {
	background: $gray5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray6}", endColorstr="#{$gray3}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray6), to($gray3)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray6,  $gray3); /* for firefox 3.6+ */
}
@mixin gradient2 {
	background: $gray3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray1}", endColorstr="#{$gray4}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray1), to($gray4)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray1,  $gray4); /* for firefox 3.6+ */
}
@mixin gradient2-down {
	background: $gray3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gray4}", endColorstr="#{$gray1}"); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from($gray4), to($gray1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  $gray4,  $gray1); /* for firefox 3.6+ */
}
@mixin glare-gradient2 {
	background-color: rgba(255, 255, 255, 0.5);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(.3,rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF"); /* for IE */
}
@mixin glare-gradient-dark {
	background-color: rgba(255, 255, 255, 0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(.3,rgba(255,255,255,0.3)), to(rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9AFFFFFF", endColorstr="#00FFFFFF"); /* for IE */
}
@mixin glare-gradient-extra-dark {
	background-color: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(.3,rgba(255,255,255,0.15)), to(rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9AFFFFFF", endColorstr="#00FFFFFF"); /* for IE */
}
@mixin glare-light {
	background-color: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), color-stop(.3,rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDFFFFFF", endColorstr="#26FFFFFF"); /* for IE */
}
@mixin gray1-overflow-fade{
	background-color: rgba(237, 236, 232, 0);
	background: -webkit-gradient(linear, left top, right top, from(rgba(237, 236, 232, 0)), to(rgba(237, 236, 232, 1)));
	background: -moz-linear-gradient(left, rgba(237, 236, 232, 0) 0%, rgba(237, 236, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00EDECE8", endColorstr="#FFEDECE8", gradientType=1); /* for IE */
}
@mixin full-width {
  position: relative;
  width: 100%;
  float: left;
}
body {
	background-color: $gray1;
	color: $gray8;
}
h2 {
  color: $gray7;
	padding-left: .2em;
}
h3 {
	
}
p {
  margin: 0;
  padding-bottom: 1em;
}
a{
  text-decoration: none;
  color: $gray10;
}
h2{
	font-size: 1.5em;
}
textarea {
  width: 97%;
  margin-bottom: 1em;
	font-size: 1em;
}
select {
	width: 97%;
  margin-bottom: 2em;
	font-size: 1em;
}
select.auto_width {
	width: auto;
}
input[type="text"],input[type="password"]{
	width: 95%;
  margin-bottom: 1em;
	font-size: 1em;
	line-height: 1.5em;
}
input[type="text"].title{
	width: 95%;
}
input[type="submit"]{
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -webkit-appearance: none;
}
.mytime input[type="submit"].list_action{
  margin-top: -.4em;
  margin-bottom: .5em;
}
div#testone.testone{
	position:relative;
	height: 120px;
	width: 100%;
}
#ajax_loading {
	position:absolute;
	padding: .5em;
	background-color: $paper;
	border: 3px solid $gray4;
	z-index: 20;
}
@mixin flash {
  border: 3px solid $gray4;
	background-color: $yellow;
	position: absolute;
	z-index: 12;
	padding: 20px;
	
}
.flash_notice {
	@include flash;
	text-align: center;
}
.flash_dialog {
	@include flash;
}
.meta_nav {
	position:relative;
	float: left;
	display: block;
	width: 100%;
	text-align: center;
	color: $paper;
	height: 3.3em;
	font-size: .75em;
	@include black-gradient;
	h1 {
		font-size: 1.1em;
		font-weight: bold;
		text-align: center;
	}
	div.button {
		position:relative;
		float: left;
	}
	div.left {
		position:absolute;
		left: .6em;
		top: .5em;
	}
	div.right {
		position:absolute;
		right: .6em;
		top: .5em;
	}
}
.main_nav {
	position:relative;
	float:left;
	display: block;
	width: 100%;
	border-top: 1px solid $gray10;
	border-bottom: 1px solid $gray10;
	border-left-width: 0px;
	border-right-width: 0px;
	overflow: hidden;
	font-size: .75em;
	@include medium-gradient;
	background-color: $gray10;
	.quarter_nav {
		position:relative;
		float:left;
		width: 25%;
		overflow: hidden;
		display: block;
		.border_wrapper.button {
			position:relative;
			border-top: 1px solid rgba(255,255,255,.8);
			border-left: 1px solid $gray10;
			border-right: none;
			border-bottom: none;
			text-align: center;
			padding: .5em 0;
			line-height: 1.75em;
			color: $paper;
			font-weight: bold;
			text-shadow: 0px -1px 1px rgba(0,0,0,.7);
			a {
				color: $paper;
				font-weight: bold;
				text-shadow: 0px -1px 1px rgba(0,0,0,.7);
			}
		}
	}
}
.sub_nav {
	position:relative;
	float:left;
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: .75em;
	.full_nav {
		position:relative;
		float:left;
		width: 100%;
		overflow: hidden;
		display: block;
		background-color: $gray8;
		.border_wrapper{
			padding: .8em;
			color: $paper;
			font-weight: bold;
			text-shadow: 0px -1px 1px rgba(0,0,0,.7);
		}
	}
}
.pager {
	position: absolute;
	width: 100%;
}
.page_layout {
	position: relative;
	float: left;
	width: 96%;
	padding: 0 2%;
}
.pager_wrapper{
	position:absolute;
	width:100%;
}
.container {
	position: relative;
	float: left;
	width: 100%;
}
.page_slide{
	-webkit-transition: -webkit-transform 600ms linear;
  -webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}
.list_container {
	position:relative;
	float:left;
	width: 100%;
	background-color: $gray1;
	margin-bottom: .5em;
	@include small-shadow;
}
.section {
  border: none;
  @include full-width;
  clear: both;
  border-bottom: 1px solid $gray4;
}
.section.side_borders {
	border-left: 1px solid $gray4;
	border-right: 1px solid $gray4;
}
.invisible_side_borders {
	margin-top: -1px;
	height: 0px;
	border-left: 1px solid $gray4;
	border-right: 1px solid $gray4;
}
.half_section {
	position: relative;
	float: left;
	width: 50%;
	padding: .7em 0;
	text-align: center;
}
.third_section {
	position: relative;
	float: left;
	width: 33%;
	padding: .7em 0;
	text-align: center;
}
.half_section.selected, .third_section.selected {
	background-color: $gray1;
	@include small-shadow;
}
div.section.borderless {
  border: none;
}
.block {
  position: relative;
  float: left;
  width: 100%;
}
.block.padding_left {
	width: 96%;
	padding-left: 4%;
}
.user_title {
  color: $gray9;
}
.list {
  position:relative;
}
.row {
  @include full-width;
}
.row_item {
  position: relative;
  float: left;
  z-index: 0;
  display: inline-block;
}
.row_item.right {
	float: right;
}
.list_action {
  position:relative;
  float:right;
  text-align: right;
}
.list_action.attributes {
  padding-left: 5px;
}
.row_item.line_item_height{
  margin-top: .9em;
  margin-bottom: .9em;
}
.heading {
  background-color: $gray1;
	color: $gray10;
	@include small-shadow;
	.padding{
		padding: .3em;
	}
	.overflow_fade {
		@include gray1-overflow-fade
	}
}
.heading.overdue{
 	background-color: $paper;
	color: $carmine;
}
.controls {
	padding-top: 1em;
	height: 2em;
}
.control, .button.control, a.button.control {
	position: absolute;
	top: .5em;
	margin-bottom: 1em;
	padding: 0 1em;
	font-size: .8em;
	text-align: center;
	line-height: 2.5em;
}
.button.control {
	padding: 0 1em;
	line-height: 2.5em;
}
.control.left {
	left: .6em;
}
.control.right {
	right: .6em;
}
.glare {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.button_content {
	position: relative;
	float: left;
	z-index: 10;
}
.button, a.button {
	display: block;
	position: relative;
	text-align: center;
	line-height: 2em;
	text-align: center;
  cursor: pointer;
	text-shadow: 0px -1px 1px rgba(0,0,0,.7);
}
a.button.round {
  padding: .4em .5em .4em .6em; /* Links */
}
.meta_nav a.button {
	padding-top: .05em;
	padding-bottom: .05em;
}
a.button.left {
	float: left;
}
a.button.right {
	float: right;
}
.button.small {
	padding-top: 0;
	padding-bottom: 0;
}
a.button.small {
	font-size: .8em;
	font-weight: normal;
	display: inline;
  padding: .4em .5em .4em .6em; /* Links */
}
.button.round, a.button.round {
	border-radius: 1.5em;
	padding-left: .5em;
	padding-right: .5em;
	.glare {
		margin: 2% 10px 0 7px;
		border-radius: 1em;
	}
}
.button.round.circle, a.button.round.circle {
	width: 13px;
	height: 29px;
	line-height: 29px;
	padding: 0 10px 3px 9px;
	.glare {
		width: 16px;
		height: 16px;
		border-radius: 8px;
		margin-left: 7px;
		@include glare-gradient-dark;
	}
}
.button.round.circle.arrow, .button.round.circle.ex {
	padding: 0 9px 4px 10px;
}
.button.dark, a.button.dark {
	@include dark-gradient;
  border:1px solid $gray10;
  border-top:1px solid $gray9;
  border-left:1px solid $gray9;
  color:$paper;
	.glare {
		height: 55%;
		@include glare-gradient-extra-dark;
	}
}
.button.dark:active, a.button.dark:active {
	@include dark-gradient-down;
  border:1px solid $gray9;
  border-top:1px solid $gray10;
  border-left:1px solid $gray10;
	.glare {
		background: none;
	}
}
.button.medium, a.button.medium {
	@include medium-gradient;
  border:1px solid $gray7;
  border-top:1px solid $gray6;
  border-left:1px solid $gray6;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
  color:$paper;
	.glare {
		height: 55%;
		@include glare-gradient2;
	}
}
.button.medium:active, a.button.medium:active {
	@include medium-gradient-down;
  border:1px solid $gray6;
  border-top:1px solid $gray7;
  border-left:1px solid $gray7;
	.glare {
		background: none;
	}
}
.button.color2, a.button.color2 {
	@include gradient2;
  border:1px solid $gray5;
  border-top:1px solid $gray4;
  border-left:1px solid $gray4;
  color:$gray9;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	.glare {
		height: 55%;
		margin: 2% 10px 0 7px;
		border-radius: 1em;
		@include glare-gradient-dark;
	}
}
.button.color2:active, a.button.color2:active {
	@include gradient2-down;
  border:1px solid $gray4;
  border-top:1px solid $gray5;
  border-left:1px solid $gray5;
	.glare {
		background: none;
	}
}
.button.light, a.button.light {
	@include light-gradient;
  border:1px solid $gray4;
  border-top:1px solid $gray3;
  border-left:1px solid $gray3;
  color:$gray8;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	.glare {
		height: 55%;
		margin: 2% 10px 0 7px;
		border-radius: 1em;
		@include glare-light;
	}
}
.button.light:active, a.button.light:active {
	@include light-gradient-down;
  border:1px solid $gray3;
  border-top:1px solid $gray4;
  border-left:1px solid $gray4;
	.glare {
		background: none;
	}
}
.button.control_font, .button.small_control_font, a.button.control_font, a.button.small_control_font {
	padding-left: .4em;
	padding-right: .4em;
	padding-bottom: .1em;
	border-radius: 2em;
}
button.button {
	padding: .6em;
}
.controls.overdue {
	background-color: $paper;
	color: $carmine;
	@include light-gradient;
}
.completed {
  text-decoration:line-through;
}
.line_fixed_width {
	overflow:hidden;
	// font-size: .7em;
}
.overflow_fade {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
	z-index: 9;
}
.shadow_hide {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7px;
	background: inherit;
	z-index:9;
}
.attribution {
	top: .2em;
}
.allcaps{
	font-size: .85em;
	text-transform: uppercase;
}
.border_bottom {
  border-bottom: 1px solid $gray4;
}
.padding_bottom {
  padding-bottom: .5em;
}
.small_padding_top {
	padding-top: 10px;
}
.padding_top {
  padding-top: .5em;
}
.padding_top_button {
  padding-top: .25em;
}
.padding_top_button.small {
  padding-top: .5em;
}
.padding_left {
  padding-left: .5em;
}
.padding {
	position: relative;
	float: left;
  padding: .5em 1.5%;
	width: 97%;
}
.text_center {
	text-align: center;
}
.text_right {
	text-align: right;
}
.thirtteen_left {
	width: 85.24%;
	padding-left: 14.76%;
}
.twelve {
	width: 12%;
}
.eightteen {
	width: 18%;
}
.thirty {
	width: 30%;
}
.fifty_eight {
	width: 58%;
}
.sixty_four {
	width: 64%;
}
.seventy {
	width: 70%;
}
.eighty_two {
	width: 82%;
}
.eighty_eight {
	width: 88%;
}
.check_box{
  margin-right: 0;
  .checkbox_placeholder{
    margin-left: 3px;
  }
}

@mixin variable_text {
  width: 64%;
}
.row_item.line_variable_text{
  @include variable_text;
	margin-top: .8em;
  margin-bottom: .9em;
}
.row_item.header_variable_text{
	width: 82%;
}
.project_variable_text {
  width: 82%;
}
.row_item.h2_padding {
  padding-top: 1.4em;
}
.row_item.check_box.h2_padding {
  padding-top: .8em;
}
.row_item.h3_padding {
  padding-top: 1.2em;
}
.check_box_proxy {
  width: auto;
}
div.checked {
	color: $carmine;
}
.control_font {
  margin-top: .65em;
  font-size: 1.5em;
}
.small_control_font {
  margin-top: 1em;
  font-size: 1em;
}
.row_item.delete{
  position:relative;
}
.sorting{
	background-color: rgba(0,0,0,.2);
	z-index: 100;
}
.attach_bottom {
  border-bottom: 1px solid $gray4;
  border-left: 1px solid $gray4;
  border-right: 1px solid $gray4;
  margin-top: 0;
  margin-bottom: .5em;
}
.archived a{
  color: $paper;
}
.small {
	font-size: .7em;
}
.section_margin_top {
  margin-top: 1em;
}
.sort_drag_handle {
	position: relative;
	float: left;
	top: .9em;
}
.asterisk_icon {
	position: relative;
	top: -.15em;
	font-size: 2em;
}
.otimes_icon {
	position: relative;
	top: -.1em;
	font-size: 1.3em;
}
/* Labels */
.label {
	position: relative;
	float: left;
	font-size: $compact-font-size;
	line-height: $compact-line-height;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 7px;
	border: 1px solid $gray10;
	border-radius: 4px;
}
.label_wrapper {
	padding: 7px 0 7px 7px;
	position: relative;
	float: left;
	border: 1px solid $gray1;
}
.label_wrapper.selected {
	border: 1px solid $gray8;
}
.labels_inline {
	margin-bottom: -.4em;
	margin-top: .2em
}
.mytime .Red_Orange { background-color: $Red_Orange; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Lemon_Pie { background-color: $Lemon_Pie; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Grass { background-color: $Grass; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Pacific_Blue { background-color: $Pacific_Blue; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Indigo { background-color: $Indigo; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Wisteria { background-color: $Wisteria; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Cotton_Candy { background-color: $Cotton_Candy; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .Black { background-color: $black; color: $paper; a{ color: $paper; } a:hover{ color: $gray1 } }
.mytime .Gray { background-color: $gray6; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }
.mytime .White { background-color: $paper; color: $black; a{ color: $black; } a:hover{ color: $gray10 } }

/* reset
html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
// :focus { outline: 0; }
/* Default font settings.
/*   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body {
	font-size: 1em;
  color: $gray9;
  margin: 0;
  padding: 0;
  border: 0;
  background: $paper;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	float: left;
	width: 100%;
}
