body {
  background-color: #edece8;
  color: #6d6c68; }

h2 {
  color: #8e8d89;
  padding-left: .2em; }

p {
  margin: 0;
  padding-bottom: 1em; }

a {
  text-decoration: none;
  color: #4d4c48; }

h2 {
  font-size: 1.5em; }

textarea {
  width: 97%;
  margin-bottom: 1em;
  font-size: 1em; }

select {
  width: 97%;
  margin-bottom: 2em;
  font-size: 1em; }

select.auto_width {
  width: auto; }

input[type="text"], input[type="password"] {
  width: 95%;
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.5em; }

input[type="text"].title {
  width: 95%; }

input[type="submit"] {
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -webkit-appearance: none; }

.mytime input[type="submit"].list_action {
  margin-top: -0.4em;
  margin-bottom: .5em; }

div#testone.testone {
  position: relative;
  height: 120px;
  width: 100%; }

#ajax_loading {
  position: absolute;
  padding: .5em;
  background-color: #fdfcf8;
  border: 3px solid #bdbcb8;
  z-index: 20; }

.flash_notice {
  border: 3px solid #bdbcb8;
  background-color: #fcefa1;
  position: absolute;
  z-index: 12;
  padding: 20px;
  text-align: center; }

.flash_dialog {
  border: 3px solid #bdbcb8;
  background-color: #fcefa1;
  position: absolute;
  z-index: 12;
  padding: 20px; }

.meta_nav {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  color: #fdfcf8;
  height: 3.3em;
  font-size: .75em;
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3c38", endColorstr="#0d0c08");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5d5c58), to(#2d2c28));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #3d3c38, #0d0c08);
  /* for firefox 3.6+ */ }
  .meta_nav h1 {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center; }
  .meta_nav div.button {
    position: relative;
    float: left; }
  .meta_nav div.left {
    position: absolute;
    left: .6em;
    top: .5em; }
  .meta_nav div.right {
    position: absolute;
    right: .6em;
    top: .5em; }

.main_nav {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  border-top: 1px solid #4d4c48;
  border-bottom: 1px solid #4d4c48;
  border-left-width: 0px;
  border-right-width: 0px;
  overflow: hidden;
  font-size: .75em;
  background: #adaca8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdccc8", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cdccc8), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cdccc8, #9d9c98);
  /* for firefox 3.6+ */
  background-color: #4d4c48; }
  .main_nav .quarter_nav {
    position: relative;
    float: left;
    width: 25%;
    overflow: hidden;
    display: block; }
    .main_nav .quarter_nav .border_wrapper.button {
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-left: 1px solid #4d4c48;
      border-right: none;
      border-bottom: none;
      text-align: center;
      padding: .5em 0;
      line-height: 1.75em;
      color: #fdfcf8;
      font-weight: bold;
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7); }
      .main_nav .quarter_nav .border_wrapper.button a {
        color: #fdfcf8;
        font-weight: bold;
        text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7); }

.sub_nav {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: .75em; }
  .sub_nav .full_nav {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    display: block;
    background-color: #6d6c68; }
    .sub_nav .full_nav .border_wrapper {
      padding: .8em;
      color: #fdfcf8;
      font-weight: bold;
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7); }

.pager {
  position: absolute;
  width: 100%; }

.page_layout {
  position: relative;
  float: left;
  width: 96%;
  padding: 0 2%; }

.pager_wrapper {
  position: absolute;
  width: 100%; }

.container {
  position: relative;
  float: left;
  width: 100%; }

.page_slide {
  -webkit-transition: -webkit-transform 600ms linear;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden; }

.list_container {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fdfcf8;
  margin-bottom: .5em;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3); }

.section {
  border: none;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  border-bottom: 1px solid #bdbcb8; }

.section.side_borders {
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8; }

.invisible_side_borders {
  margin-top: -1px;
  height: 0px;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8; }

.half_section {
  position: relative;
  float: left;
  width: 50%;
  padding: .7em 0;
  text-align: center; }

.third_section {
  position: relative;
  float: left;
  width: 33%;
  padding: .7em 0;
  text-align: center; }

.half_section.selected, .third_section.selected {
  background-color: #fdfcf8;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3); }

div.section.borderless {
  border: none; }

.block {
  position: relative;
  float: left;
  width: 100%; }

.block.padding_left {
  width: 96%;
  padding-left: 4%; }

.user_title {
  color: #5d5c58; }

.list {
  position: relative; }

.row {
  position: relative;
  width: 100%;
  float: left; }

.row_item {
  position: relative;
  float: left;
  z-index: 0;
  display: inline-block; }

.row_item.right {
  float: right; }

.list_action {
  position: relative;
  float: right;
  text-align: right; }

.list_action.attributes {
  padding-left: 5px; }

.row_item.line_item_height {
  margin-top: .9em;
  margin-bottom: .9em; }

.heading {
  background-color: #edece8;
  color: #4d4c48;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3); }
  .heading .padding {
    padding: .3em; }
  .heading .overflow_fade {
    background-color: rgba(237, 236, 232, 0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(237, 236, 232, 0)), to(#edece8));
    background: -moz-linear-gradient(left, rgba(237, 236, 232, 0) 0%, #edece8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00EDECE8", endColorstr="#FFEDECE8", gradientType=1);
    /* for IE */ }

.heading.overdue {
  background-color: #fdfcf8;
  color: #ee3434; }

.controls {
  padding-top: 1em;
  height: 2em; }

.control, .button.control, a.button.control {
  position: absolute;
  top: .5em;
  margin-bottom: 1em;
  padding: 0 1em;
  font-size: .8em;
  text-align: center;
  line-height: 2.5em; }

.button.control {
  padding: 0 1em;
  line-height: 2.5em; }

.control.left {
  left: .6em; }

.control.right {
  right: .6em; }

.glare {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.button_content {
  position: relative;
  float: left;
  z-index: 10; }

.button, a.button {
  display: block;
  position: relative;
  text-align: center;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a.button.round {
  padding: .4em .5em .4em .6em;
  /* Links */ }

.meta_nav a.button {
  padding-top: .05em;
  padding-bottom: .05em; }

a.button.left {
  float: left; }

a.button.right {
  float: right; }

.button.small {
  padding-top: 0;
  padding-bottom: 0; }

a.button.small {
  font-size: .8em;
  font-weight: normal;
  display: inline;
  padding: .4em .5em .4em .6em;
  /* Links */ }

.button.round, a.button.round {
  border-radius: 1.5em;
  padding-left: .5em;
  padding-right: .5em; }
  .button.round .glare, a.button.round .glare {
    margin: 2% 10px 0 7px;
    border-radius: 1em; }

.button.round.circle, a.button.round.circle {
  width: 13px;
  height: 29px;
  line-height: 29px;
  padding: 0 10px 3px 9px; }
  .button.round.circle .glare, a.button.round.circle .glare {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.3, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9AFFFFFF", endColorstr="#00FFFFFF");
    /* for IE */ }

.button.round.circle.arrow, .button.round.circle.ex {
  padding: 0 9px 4px 10px; }

.button.dark, a.button.dark {
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#5d5c58");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#5d5c58));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #5d5c58);
  /* for firefox 3.6+ */
  border: 1px solid #4d4c48;
  border-top: 1px solid #5d5c58;
  border-left: 1px solid #5d5c58;
  color: #fdfcf8; }
  .button.dark .glare, a.button.dark .glare {
    height: 55%;
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.3, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9AFFFFFF", endColorstr="#00FFFFFF");
    /* for IE */ }

.button.dark:active, a.button.dark:active {
  background: #6d6c68;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d5c58", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5d5c58), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #5d5c58, #9d9c98);
  /* for firefox 3.6+ */
  border: 1px solid #5d5c58;
  border-top: 1px solid #4d4c48;
  border-left: 1px solid #4d4c48; }
  .button.dark:active .glare, a.button.dark:active .glare {
    background: none; }

.button.medium, a.button.medium {
  background: #adaca8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdccc8", endColorstr="#9d9c98");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cdccc8), to(#9d9c98));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cdccc8, #9d9c98);
  /* for firefox 3.6+ */
  border: 1px solid #8e8d89;
  border-top: 1px solid #9d9c98;
  border-left: 1px solid #9d9c98;
  text-shadow: 0px 1px 1px white;
  color: #fdfcf8; }
  .button.medium .glare, a.button.medium .glare {
    height: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(0.3, rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64FFFFFF", endColorstr="#11FFFFFF");
    /* for IE */ }

.button.medium:active, a.button.medium:active {
  background: #adaca8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9c98", endColorstr="#cdccc8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9d9c98), to(#cdccc8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #9d9c98, #cdccc8);
  /* for firefox 3.6+ */
  border: 1px solid #9d9c98;
  border-top: 1px solid #8e8d89;
  border-left: 1px solid #8e8d89; }
  .button.medium:active .glare, a.button.medium:active .glare {
    background: none; }

.button.color2, a.button.color2 {
  background: #cdccc8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edece8", endColorstr="#bdbcb8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#edece8), to(#bdbcb8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #edece8, #bdbcb8);
  /* for firefox 3.6+ */
  border: 1px solid #adaca8;
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  color: #5d5c58;
  text-shadow: 0px 1px 1px white; }
  .button.color2 .glare, a.button.color2 .glare {
    height: 55%;
    margin: 2% 10px 0 7px;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.3, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9AFFFFFF", endColorstr="#00FFFFFF");
    /* for IE */ }

.button.color2:active, a.button.color2:active {
  background: #cdccc8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdbcb8", endColorstr="#edece8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbcb8), to(#edece8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #bdbcb8, #edece8);
  /* for firefox 3.6+ */
  border: 1px solid #bdbcb8;
  border-top: 1px solid #adaca8;
  border-left: 1px solid #adaca8; }
  .button.color2:active .glare, a.button.color2:active .glare {
    background: none; }

.button.light, a.button.light {
  background: #dddcd8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#cdccc8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdccc8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #cdccc8);
  /* for firefox 3.6+ */
  border: 1px solid #bdbcb8;
  border-top: 1px solid #cdccc8;
  border-left: 1px solid #cdccc8;
  color: #6d6c68;
  text-shadow: 0px 1px 1px white; }
  .button.light .glare, a.button.light .glare {
    height: 55%;
    margin: 2% 10px 0 7px;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.3, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
    background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDFFFFFF", endColorstr="#26FFFFFF");
    /* for IE */ }

.button.light:active, a.button.light:active {
  background: #dddcd8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdccc8", endColorstr="white");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cdccc8), to(white));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cdccc8, white);
  /* for firefox 3.6+ */
  border: 1px solid #cdccc8;
  border-top: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8; }
  .button.light:active .glare, a.button.light:active .glare {
    background: none; }

.button.control_font, .button.small_control_font, a.button.control_font, a.button.small_control_font {
  padding-left: .4em;
  padding-right: .4em;
  padding-bottom: .1em;
  border-radius: 2em; }

button.button {
  padding: .6em; }

.controls.overdue {
  background-color: #fdfcf8;
  color: #ee3434;
  background: #dddcd8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#cdccc8");
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdccc8));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #cdccc8);
  /* for firefox 3.6+ */ }

.completed {
  text-decoration: line-through; }

.line_fixed_width {
  overflow: hidden; }

.overflow_fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 9; }

.shadow_hide {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: inherit;
  z-index: 9; }

.attribution {
  top: .2em; }

.allcaps {
  font-size: .85em;
  text-transform: uppercase; }

.border_bottom {
  border-bottom: 1px solid #bdbcb8; }

.padding_bottom {
  padding-bottom: .5em; }

.small_padding_top {
  padding-top: 10px; }

.padding_top {
  padding-top: .5em; }

.padding_top_button {
  padding-top: .25em; }

.padding_top_button.small {
  padding-top: .5em; }

.padding_left {
  padding-left: .5em; }

.padding {
  position: relative;
  float: left;
  padding: .5em 1.5%;
  width: 97%; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

.thirtteen_left {
  width: 85.24%;
  padding-left: 14.76%; }

.twelve {
  width: 12%; }

.eightteen {
  width: 18%; }

.thirty {
  width: 30%; }

.fifty_eight {
  width: 58%; }

.sixty_four {
  width: 64%; }

.seventy {
  width: 70%; }

.eighty_two {
  width: 82%; }

.eighty_eight {
  width: 88%; }

.check_box {
  margin-right: 0; }
  .check_box .checkbox_placeholder {
    margin-left: 3px; }

.row_item.line_variable_text {
  width: 64%;
  margin-top: .8em;
  margin-bottom: .9em; }

.row_item.header_variable_text {
  width: 82%; }

.project_variable_text {
  width: 82%; }

.row_item.h2_padding {
  padding-top: 1.4em; }

.row_item.check_box.h2_padding {
  padding-top: .8em; }

.row_item.h3_padding {
  padding-top: 1.2em; }

.check_box_proxy {
  width: auto; }

div.checked {
  color: #ee3434; }

.control_font {
  margin-top: .65em;
  font-size: 1.5em; }

.small_control_font {
  margin-top: 1em;
  font-size: 1em; }

.row_item.delete {
  position: relative; }

.sorting {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100; }

.attach_bottom {
  border-bottom: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  margin-top: 0;
  margin-bottom: .5em; }

.archived a {
  color: #fdfcf8; }

.small {
  font-size: .7em; }

.section_margin_top {
  margin-top: 1em; }

.sort_drag_handle {
  position: relative;
  float: left;
  top: .9em; }

.asterisk_icon {
  position: relative;
  top: -0.15em;
  font-size: 2em; }

.otimes_icon {
  position: relative;
  top: -0.1em;
  font-size: 1.3em; }

/* Labels */
.label {
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 7px;
  border: 1px solid #4d4c48;
  border-radius: 4px; }

.label_wrapper {
  padding: 7px 0 7px 7px;
  position: relative;
  float: left;
  border: 1px solid #edece8; }

.label_wrapper.selected {
  border: 1px solid #6d6c68; }

.labels_inline {
  margin-bottom: -0.4em;
  margin-top: .2em; }

.mytime .Red_Orange {
  background-color: #ef3f10;
  color: #fdfcf8; }
  .mytime .Red_Orange a {
    color: #fdfcf8; }
  .mytime .Red_Orange a:hover {
    color: #edece8; }

.mytime .Lemon_Pie {
  background-color: #fcefa1;
  color: #0d0c08; }
  .mytime .Lemon_Pie a {
    color: #0d0c08; }
  .mytime .Lemon_Pie a:hover {
    color: #4d4c48; }

.mytime .Grass {
  background-color: #87a96b;
  color: #fdfcf8; }
  .mytime .Grass a {
    color: #fdfcf8; }
  .mytime .Grass a:hover {
    color: #edece8; }

.mytime .Pacific_Blue {
  background-color: #90b0b0;
  color: #fdfcf8; }
  .mytime .Pacific_Blue a {
    color: #fdfcf8; }
  .mytime .Pacific_Blue a:hover {
    color: #edece8; }

.mytime .Indigo {
  background-color: #5d76cb;
  color: #fdfcf8; }
  .mytime .Indigo a {
    color: #fdfcf8; }
  .mytime .Indigo a:hover {
    color: #edece8; }

.mytime .Wisteria {
  background-color: #cda4de;
  color: #0d0c08; }
  .mytime .Wisteria a {
    color: #0d0c08; }
  .mytime .Wisteria a:hover {
    color: #4d4c48; }

.mytime .Cotton_Candy {
  background-color: #ffbcd9;
  color: #0d0c08; }
  .mytime .Cotton_Candy a {
    color: #0d0c08; }
  .mytime .Cotton_Candy a:hover {
    color: #4d4c48; }

.mytime .Black {
  background-color: #0d0c08;
  color: #fdfcf8; }
  .mytime .Black a {
    color: #fdfcf8; }
  .mytime .Black a:hover {
    color: #edece8; }

.mytime .Gray {
  background-color: #9d9c98;
  color: #0d0c08; }
  .mytime .Gray a {
    color: #0d0c08; }
  .mytime .Gray a:hover {
    color: #4d4c48; }

.mytime .White {
  background-color: #fdfcf8;
  color: #0d0c08; }
  .mytime .White a {
    color: #0d0c08; }
  .mytime .White a:hover {
    color: #4d4c48; }

/* reset
html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* Remove annoying border on linked images. */
a img {
  border: none; }

/* Remember to define your own focus styles! */
/* Default font settings.
/*   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 100.01%; }

body {
  font-size: 1em;
  color: #4d4c48;
  margin: 0;
  padding: 0;
  border: 0;
  background: #e0f0f0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  float: left;
  width: 100%; }
