body {
  background-color: #edece8;
  color: #6d6c68; }

h2 {
  color: #8e8d89; }

p {
  margin: 0;
  padding-bottom: 1em; }

a {
  text-decoration: none;
  color: #0d0c08; }

a:hover {
  color: #bdbcb8; }

textarea {
  width: 100%;
  margin-bottom: 1em; }

select {
  margin-bottom: 2em; }

.mytime input[type="text"] {
  margin-bottom: 1em; }

.mytime input[type="submit"] {
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -webkit-appearance: none; }

.mytime input[type="submit"].list_action {
  margin-top: -0.4em;
  margin-bottom: .5em; }

.section {
  border: none;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  border-bottom: 1px solid #bdbcb8; }

div.section.borderless {
  border: none; }

.block {
  position: relative;
  float: left;
  width: 100%; }

.user_title {
  font-size: 20px;
  color: #5d5c58; }

.border_bottom {
  border-bottom: 1px solid #bdbcb8; }

.padding_bottom {
  padding-bottom: 10px; }

.padding_top {
  padding-top: 10px; }

.list {
  position: relative; }

.row {
  position: relative;
  width: 100%;
  float: left; }

.controls {
  background-color: #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8; }

.row_item {
  position: relative;
  float: left;
  z-index: 0;
  display: inline-block; }

.list_action {
  position: relative;
  float: right;
  text-align: right; }

.list_action.attributes {
  padding-left: 5px; }

.row_item.line_item_height {
  margin-top: 1.1em;
  margin-bottom: 1.1em; }

.check_box {
  width: 18%;
  margin-right: 0;
  margin-top: .85em; }
  .check_box input[type="checkbox"] {
    height: 2em;
    width: 2em; }
  .check_box .checkbox_placeholder {
    margin-left: 3px; }

.row_item.line_variable_text {
  width: 64%;
  margin-bottom: 1.1em; }

.row_item.header_variable_text {
  width: 64%; }

.project_variable_text {
  width: 82%; }

.row_item.h2_padding {
  padding-top: 1.5em; }

.row_item.check_box.h2_padding {
  padding-top: .5em; }

.row_item.h3_padding {
  padding-top: 1.2em; }

.row_item.check_box_proxy, .row_item .check_box_proxy {
  margin-top: -0.15em;
  font-size: 2.5em;
  line-height: 1.4em;
  width: 18%; }

.controls .check_box_proxy {
  width: auto; }

.check_box_proxy.checked {
  color: #ee3434; }

.control_font {
  margin-top: .35em;
  font-size: 2em; }

.row_item.delete {
  position: relative;
  font-size: 1.8em;
  top: .3em; }

.attach_bottom {
  border-bottom: 1px solid #bdbcb8;
  border-left: 1px solid #bdbcb8;
  border-right: 1px solid #bdbcb8;
  margin-top: 0;
  margin-bottom: .5em; }

.archived a {
  color: #fdfcf8; }

.ui-bar-a.mytime {
  background: #6d6c68;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6d6c68), to(#4d4c48)); }

.ui-btn-up-a.mytime {
  background: #6d6c68;
  border: 1px solid #0d0c08;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8e8d89), to(#6d6c68)); }

.ui-btn-down-a.mytime {
  background: #6d6c68;
  border: 1px solid #0d0c08;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6d6c68), to(#8e8d89)); }

.mytime .ui-btn-up-c {
  background: #fdfcf8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfcf8), to(#edece8));
  border: 1px solid #dddcd8;
  border-bottom: 1px solid #bdbcb8; }

.mytime .ui-btn-up-c.selected {
  background: #edece8;
  border: 1px solid #bdbcb8;
  border-bottom: none; }

.mytime .ui-body-c {
  background: #edece8;
  color: #6d6c68; }

.mytime div.last {
  margin-right: 0; }

.text_center {
  text-align: center; }

.section_margin_top {
  margin-top: 1em; }
