#main_logo_glare{
	position: absolute;
	top: 0;
	left: 0;
	width: 175px;
	height: 55%;
	margin-top: 1px;
	margin-left: 1px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	-moz-border-radius-topleft:     24px;
	-moz-border-radius-topright:    24px;
	background-color: rgba(255, 255, 255, 0.3);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), color-stop(.45,rgba(255,255,255,0.1)), to(rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
}
#top_logo_glare{
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
	height: 55%;
	margin-top: 1px;
	margin-left: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topleft:     6px;
	-moz-border-radius-topright:    6px;
	background-color: rgba(255, 255, 255, 0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(.3,rgba(255,255,255,0.3)), to(rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 100%);
}
#main_logo_inner {
	height: 100px;
	padding-top: 15px;
}
#top_logo_inner {
	height: 33px;
	padding-top: 3px;
}
.button.round .glare {
	margin: 0 8px;
}
