<div class="span-16 last section_margin_top">
		<h2>Email</h2>
</div>
<div class="span-16 last section">
  <%= form_for @user, :as => :user, :url => user_url(@user), :html => {
  	:'data-ajax_behavior' => 'ajax_form',
  	:'data-ajax_method' => 'PUT',
  	:'data-ajax_success_element' => 'account_email',
  	:'data-ajax_error_element' => 'account_email'
  } do |f| %>
  	<%= f.text_field :email, :class => 'span-9' %>
  	<%= hidden_field_tag 'attribute', 'email', :id => 'attribute_email_field' %>
  	<div class="span-4 last text_right">
    	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
    	  <div class="button_content">save</div>
    	</div>
    	<div class="text_with_button small">
      	<%= link_to 'cancel', account_user_url(@user),
      	 	:'data-ajax_behavior' => 'ajax_link',
      		:'data-ajax_method' => 'GET',
      		:'data-ajax_success_element' => 'account_email',
      		:'data-ajax_data' => "{attribute: 'email'}"%>
      </div>
    </div>
  <% end %>
</div>