<h3>Time Zone</h3>
<%= form_for @user, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'account_time_zone',
	:'data-ajax_error_element' => 'account_time_zone'
} do |f| %>
	<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)" %>
	<%= hidden_field_tag 'attribute', 'time_zone', :id => 'attribute_time_zone_field' %>
	<button type="submit" class="row_item button round small light ">save description</button>
  <div class="row_item last padding_top_button small">&nbsp;or
	<%= link_to '(cancel)', user_url(@user),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'account_time_zone',
		:'data-ajax_data' => "{attribute: 'time_zone'}"%>
<% end %>