<div class="span-18 last section_margin_top">
	<div class="span-14">
		<h2>Time Zone</h2>
	</div>
	<div class="span-4 last">
		<%= link_to 'edit time zone', edit_user_url(@user, :attribute => 'time_zone'),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'GET',
			:'data-ajax_success_element' => 'account_time_zone'
		%>
	</div>
</div>
<div class="span-18 last section">
	<%= @user.time_zone.blank? ? ActiveSupport::TimeZone[-session[:time_zone_offset].to_i] : @user.time_zone %>
</div>