<div class="borderless section">
  <div class="half_section<% if action_name == 'account' %> selected<% end %>">
    <%= link_to 'account info', account_user_url(@user) %>
    <div class="shadow_hide">&nbsp;</div>
  </div>
  <div class="half_section<% if action_name == 'settings' %> selected<% end %>">
    <%= link_to 'settings', settings_user_url(@user) %>
    <div class="shadow_hide">&nbsp;</div>
  </div>
</div>
