<div class="span-16 last section_margin_top" id="header_wrapper">
<h1>Account Info</h1>
</div>
<div class="span-17 last page_content">
  <% if @user.can_log_in? %>
    <% if @just_changed %>
      <div class="span-15 last explanatory">
        Please enter your card info under 'Credit Card Info' below in order to activate your upgraded account.
      </div>
    <% else %>
      <div class="span-15 last error">
        We've created your account, but we're having a problem with your credit card. Please enter your card info again under 'Credit Card Info' below. You can always come back and sign in with your email and password now, but you won't be able to use your account until you enter valid credit card information.
      </div>
    <% end %>
  <% end %>
  <div id="account_email" class="span-15 last">
  	<%= render :partial => 'show_email' %>
  </div>
  <div id="account_name" class="span-15 last">
  	<%= render :partial => 'show_name' %>
  </div>
  <div id="account_card" class="span-15 last">
    <% if @user.can_log_in? %>
    	<%= render :partial => 'edit_card' %>
    <% else %>
    	<%= render :partial => 'show_card' %>
    <% end %>
  </div>
</div>