<h1>Settings</h1>
<%= render :partial => 'tabs' %>
<div id="account_show_help_text" class="section">
	<%= render :partial => 'show_show_help_text' %>
</div>
<div id="account_time_zone" class="section">
	<%= render :partial => 'show_time_zone' %>
</div>
