<div class="span-16 last section_margin_top" id="header_wrapper">
<h1>Settings</h1>
<%= render :partial => 'tabs' %>
</div>
<div class="span-17 last page_content">
<div id="account_show_help_text" class="span-16 last">
	<%= render :partial => 'show_show_help_text' %>
</div>
<div id="account_time_zone" class="span-16 last section_margin_top">
	<%= render :partial => 'show_time_zone' %>
</div>
<div id="account_sms_number" class="span-16 last section_margin_top">
	<%= render :partial => 'show_sms_number' %>
</div>
</div>