<div class="span-16 last section_margin_top" id="header_wrapper">
<h1>Your Account</h1>
<%= render :partial => 'tabs' %>
</div>
<div class="span-17 last page_content">
  <div id="account_email" class="span-15 last">
  	<%= render :partial => 'show_email' %>
  </div>
</div>