<h1>Your Account</h1>
<div id="account_email" class="span-15 last">
	<%= render :partial => 'show_email' %>
</div>
<div id="account_time_zone" class="span-15 last section_margin_top">
	<%= render :partial => 'show_time_zone' %>
</div>
