<h2>Your Account</h2>
<%= render :partial => 'tabs' %>
<div class="list_container">
  <div class="section">
    <div id="account_email" class="padding">
  	  <%= render :partial => 'show_email' %>
  	</div>
  </div>
</div>