<div class="span-17 last section_margin_top text_center" id="header_wrapper"><h1 class="coolvetica">Contact Us</h1></div>
<div class="span-19 last">
  <div class="span-18 section">
<div class="span-18 last">&nbsp;</div>
<p>
  For help with the Get Go app, please email <a href="mailto:support@getgolist.com">support@getgolist.com</a>. For all other communications, you can contact us at <a href="mailto:contact@getgolist.com">contact@getgolist.com</a> or 720.515.1157. We'll get back to you soon, we like to keep things moving along smoothly!
</p>
<div class="span-18 last">&nbsp;</div>
</div>
</div>