<div class="span-17 last section_margin_top" id="header_wrapper"><h1>Get Go Contact Info</h1></div>
<div class="span-17 last page_content">
  <div class="span-16">

<p>
  You can contact us at <a href="mailto:support@getgolist.com">support@getgolist.com</a> with any questions or comments you might have. We'll get back to you soon, we like to keep things moving.
</p>
</div>
</div>