<div class="span-17 last section_margin_top" id="header_wrapper">
  <h1 class="coolvetica">Everything You Need and Nothing Else</h1>
</div>
<div class="span-19 last">
  <div class="span-8">
    <div class="span-8 section">
      <h2 class="coolvetica">Instant Gratification</h2>
      <div class="section_rule">&nbsp;</div>
      Your dashboard lets you start adding tasks right away. It lists recent tasks to be organized or checked off, as well as comments from friends and colleagues, upcoming due dates, and priority tasks.
    </div>
    <div class="span-8 section section_margin_top">
      <h2 class="coolvetica">Plans</h2>
      <div class="section_rule">&nbsp;</div>
      Create plans to group your tasks around a common goal. Your plans might be simple, like a grocery list, or complex, like a product branding project.
    </div>
    <div class="span-8 section section_margin_top">
      <h2 class="coolvetica">Timing Matters</h2>
      <div class="section_rule">&nbsp;</div>
      Add due dates to your plans and tasks, and set personal reminders to be emailed or sent to your phone via SMS text message.
    </div>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-8">
    <div class="span-8 section">
      <h2 class="coolvetica">Share and Share Alike</h2>
      <div class="section_rule">&nbsp;</div>
      Share your plans with anyone. They don't need a paid account, we'll give them a sharing account that lets them use the full features of the app within the plan you've shared with them.
    </div>
    <div class="span-8 section section_margin_top">
      <h2 class="coolvetica">Folders</h2>
      <div class="section_rule">&nbsp;</div>
      Create folders to organize your plans. A common starting place would be 'Personal' and 'Work', but you can create any folders that help you keep track of your plans.
    </div>
    <div class="span-8 section section_margin_top">
      <h2 class="coolvetica">Labels</h2>
      <div class="section_rule">&nbsp;</div>
      Create labels to mark tasks with special contexts, like 'phone' to flag items that require the phone for completion.
    </div>
  </div>
</div>