<div class="span-21 last section_margin_top" id="header_wrapper">
  <div class="span-15">
    <h1 class="coolvetica">Simple, Powerful Task Management</h1>
  </div>
  <div class="span-5 last">
    <div id="beta_label">Beta Version</div>
  </div>
</div>
<div class="span-19 last">
  <div class="span-8">
  	<div class="span-8 last section" id="super_simple">
      <h2 class="coolvetica">Super simple.</h2>
      <div class="section_rule">&nbsp;</div>
      <ul class="section_margin_top">
        <li>
          Create tasks instantly, just start typing. Organize them later with plans, labels, folders, etc., or just check them off and bask in your accomplishment.
        </li>
        <li>
          Got recurring workflows? Press a button to turn a plan into a template for re-use.
        </li>
        <li>
          Sign up for a free 30-day trial in seconds.
        </li>
      </ul>
  	</div>
  	<div class="span-8 last section section_margin_top" id="access_anywhere">
      <h2 class="coolvetica">Access anywhere.</h2>
      <div class="section_rule">&nbsp;</div>
      <p>You can <span class="coolvetica">Get Going </span> from any desktop computer with a current web browser. You can also use <span class="coolvetica">Get Go</span> on any iPhone, iPad, iPod Touch, or Android phone. Other devices may let you <span class="coolvetica">Get Going </span> too.</p>
  	</div>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-8">
  	<div class="span-8 section" id="share_with_anyone">
      <h2 class="coolvetica">Share with anyone.</h2>
      <div class="section_rule">&nbsp;</div>
      <p>Share your plans with anyone, whether or not they have a <span class="coolvetica">Get Go</span> account. Share a grocery list collaborate on a consulting project.
      </p>
        <ul class="section_margin_top_shaved">
          <li>Each person can create their own folders, labels and reminders to organize tasks and plans in the way that makes sense to them.</li>
          <li>Comment threads, descriptions, due dates, and assignments bring everyone together to get stuff done.</li>
        </ul>
    </div>
  	<div class="span-8 section section_margin_top" id="sign_up_now">
      <h2 class="coolvetica">Sign up now.</h2>
      <div class="section_rule">&nbsp;</div>
      <p>What are you waiting for? There is no commitment to try <span class="coolvetica">Get Go</span> for free for 30 days. So <span class="highlight">click <a href="/page/Pricing">here</a> to <span class="coolvetica">Get Going</span>.</span></p>
    </div>
  </div>
</div>
