<div class="span-17 last section_margin_top text_center" id="header_wrapper"><h1>Get Go Privacy Policy</h1></div>
<div class="span-17 last page_content">
  <div class="span-16">

<p>
We collect the e-mail addresses of people and organizations who communicate with us via e-mail, statistics on what pages users access or visit, and information volunteered by users, such as surveys and/or registrations. We use this information to improve the content of the Get Go site and the quality of the Get Go service. We do not and will not share or sell this information to other organizations for commercial purposes, unless we have your permission, or under the following circumstances:
</p>
<p>
We will transfer information about you if Digital Ollie, Inc. or Get Go is acquired/merged with another company. Digital Ollie, Inc. will notify you before we perform any such transfer. At that time you may be subject to a different privacy policy.
</p>
<p>
<h2>Information Gathering and Usage</h2>

Get Go asks for your information when you register, such as your name, email address, billing address, credit card information.
</p>
<p>
Digital Ollie, Inc. uses this information for the following purposes: products and services provision, billing, identification and authentication, service improvement, contact, and general research.
</p>
<p>
<h2>Cookies</h2>

Cookies are small text files containing a user's settings. Web sites store cookies on the user's computer. Cookies are required to use the Get Go service.
</p>
<p>
We record current session information in semi-permanent cookies. Get Go will keep your browser logged-in to your account until you explicity log out or a certain period of time elapses. If you wish to prevent others from accessing your account contents on your computer you can log out.
</p>
<p>
<h2>Data Storage</h2>

Digital Ollie, Inc. uses third party vendors to provide the necessary hardware, networking, software and other technology required to run Get Go. Digital Ollie, Inc. owns the code, databases, and all rights to the Get Go application, while you retain all rights to your data.
</p>
<p>
<h2>Disclosure</h2>

Digital Ollie, Inc. reserves the right to disclose personally identifiable information under special circumstances. Examples include compling with subpoenas or when your actions violate the Terms of Service.
</p>
<p>
<h2>Changes</h2>

Digital Ollie, Inc. may update this policy when deemed necessary. We will notify you about changes in the way we treat personal information. We may place a prominent notice on our site or we may send an email to the address provided with your primary contact information.
</p>
<p>
<h2>Questions</h2>

Any questions about this Privacy Policy should be addressed to support@getgolist.com
</p>