<div class="span-17 last section_margin_top text_center" id="header_wrapper">
  <h1 class="coolvetica">We're Here for You</h1>
</div>
<div class="span-19 last">
  <div class="span-18 section">
    <h2>FAQ</h2>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_1" onclick="void(0)">
        Can I move a task from one plan to another?
      </div>
      <div id="question_1" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        Yes! If you click on the title of the folder that contains both the current plan and the desired one, you can expand the plans to show their tasks, then drag-and-drop tasks between the plans. If the current plan and the desired plan aren't in the same folder, you can open the Plans tab on the left side navigation, then open the 'Misc.' section at the bottom and click 'All Folders'. Keep in mind that you cannot move tasks between plans that were created by different people or organizations.
      </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_2" onclick="void(0)">
        Can I export my data if I decide not to use <span class="coolvetica">Get Go</span> anymore?
      </div>
      <div id="question_2" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        This feature is slated for our next round of enhancements, it will be available soon. Please contact us at <a href="mailto:support@getgolist.com">support@getgolist.com</a> if you want more specific information.
      </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_3" onclick="void(0)">
        Can I create a template for plans that have a set list of tasks?
      </div>
      <div id="question_3" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        Yes! Go to the detail view for the plan by clicking on the Plans tab, then click on the folder, then click on the plan name. In the plan detail view, click on the 'info' tab. Click the 'create a template' button, and you're done. From that point on, whenever you create a new plan, you'll have the option to base it on your new template.
     </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_4" onclick="void(0)">
        How can I add a folder?
      </div>
      <div id="question_4" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        Create a new folder by clicking on the Plans tab in the left-side navigation, then expanding the 'Misc.' section at the bottom. Hover over the 'All Folders' link, and a gray control bar will appear. Click on the circled plus sign to add a new folder.
     </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_5" onclick="void(0)">
        How can I add a plan?
      </div>
      <div id="question_5" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        You can create a plan by clicking on the Plans tab in the left-side navigation, then hovering over the folder name where you want to put the plan. A gray control bar will appear, click on the circled plus sign to add a plan to this folder.
      </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_6" onclick="void(0)">
        How can I add a task to a plan?
      </div>
      <div id="question_6" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        <b>New tasks</b><br/>
        Click on the plan title inside any folder to view the plan task list. Click on 'add a task' in the plan task list to add a new task to that plan.<br/>&nbsp;<br/>
        <b>Existing tasks</b><br/>
        Click on the task title in any task list to view the task info page. You can move the task to a plan in the Plan section of the task info page.
      </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_7" onclick="void(0)">
        What are labels?
      </div>
      <div id="question_7" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        Labels help categorize tasks according to the methods, tools, places, or people that you need to help get the task done. For example, if you have a small business and do many kinds of jobs, you may want to label all your tasks that require the phone with a label named 'phone'. This way, regardless of what plan or folder the task is in, when you have time to make phone calls you can view the 'phone' label in the labels tab and see all the tasks that you can get done while you're on the phone.
        <br/>&nbsp;<br/>
        Another example might be a vendor you use often, like an office supply store. You may have several plans that require items from your office supply store. When you get to the store, with your phone you can just pull up the label you created, e.g. 'office supply', and make sure you get all those items from the <span class="coolvetica">Get Go</span>, rather than making multiple trips.
     </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_9" onclick="void(0)">
        What are contacts?
      </div>
      <div id="question_9" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        Contacts are people you share plans with and people who share plans with you. You can share a plan in the 'info' tab for any plan that you create. Navigate to the plan you want to share, click on the 'info' tab, and click 'edit sharing' above the Sharing section.
     </div>
    </div>
    <div class="span-18 last section_rule">&nbsp;</div>
    <div class="span-18 last">
      <div class="question" data-tab="tab" data-tab_set="faq" data-tab_content="question_9" onclick="void(0)">
        How can I cancel my account?
      </div>
      <div id="question_9" class="answer" data-tab="tab_content" data-tab_set="faq" style="display:none;">
        Thank you for your business, we're sad to see you go! Please contact us at <a href="mailto:support@getgolist.com">support@getgolist.com</a> with any comments or questions you might have, we value your feedback.<br/>
        &nbsp;<br/>
        To cancel your account, go to the 'Account' tab and click on 'edit billing info' above the "Billing Info" section. Select the 'Collaborator' plan and click the 'save' button. You will still be able to use plans shared with you by paying Get Go members, but you will not be able to create or use any plans of your own, and plans you created will be deleted.
     </div>
    </div>
  </div>
  <div class="span-18 section section_margin_top">
    <h2>Contact</h2>
    <div class="section_rule">&nbsp;</div>
    Feel free to email support at <a href="mailto:support@getgolist.com">support@getgolist.com</a> if you have a question that we didn't answer above.
  </div>
</div>
<%= javascript_tag do %>
  jQuery(document).ready(function(){
    bindTabs();
  })
<% end %>