<div class="span-17 last section_margin_top" id="header_wrapper">
  <h1 class="coolvetica">Feature Tour</h1>
</div>
<div class="span-18 last section">
  <div class="span-18 last" onclick="void(0)" data-modal_trigger="true" data-modal_id="dashboard_shot" >
    <div class="span-18 last"><div class="span-13"><h2>The Dashboard</h2></div><div class="span-5 last green_text big_font text_center highlight">click to preview</div></div>
    <div class="span-18 last">Your dashboard is where you can quickly enter tasks when you're busy. Later you can come to your dashboard to organize your tasks by adding them to a plan. Your dashboard also show recent comments from collaborators, upcoming due dates, and recently completed tasks.
    </div>
  </div>
  <div  class="form_modal" data-modal="true" data-modal_id="dashboard_shot" style="display:none;"><%= image_tag 'dashboard_shot.png' %>
    <div>&nbsp;<br/></div><div onclick="void(0)" class="tour_modal_closer" data-modal_closer="true" data-modal_id="dashboard_shot">close</div></div>
    <div class="section_rule">&nbsp;</div>
 <div class="span-18 last" onclick="void(0)" data-modal_trigger="true" data-modal_id="plan_shot">
   <div class="span-18 last"><div class="span-13"><h2>Plan Task List</h2></div><div class="span-5 last green_text big_font  text_center highlight">click to preview</div></div>
    <div class="span-18 last">
      You'll notice in this screen shot that there is a simple hierarchy: folders contain plans, and plans contain tasks. This view shows the task list for a plan. You can see the folders in the left-side navigation.
    </div>
  </div>
  <div  class="form_modal" data-modal="true" data-modal_id="plan_shot" style="display:none;"><%= image_tag 'plan_shot.png' %>
    <div>&nbsp;<br/></div><div onclick="void(0)" class="tour_modal_closer" data-modal_closer="true" data-modal_id="plan_shot">close</div></div>
    <div class="section_rule">&nbsp;</div>
  <div class="span-18 last" onclick="void(0)" data-modal_trigger="true" data-modal_id="task_shot" >
    <div class="span-18 last"><div class="span-13"><h2>Task Detail</h2></div><div class="span-5 last green_text big_font  text_center highlight">click to preview</div></div>
     <div class="span-18 last">
       You can add a description, a due date, reminders, and labels to a task. If the plan your task belongs to has been shared with other users, you can assign a task to a user as well, (not shown in this screen shot.).
     </div>
  </div>
  <div  class="form_modal" data-modal="true" data-modal_id="task_shot" style="display:none;"><%= image_tag 'task_shot.png' %>
    <div>&nbsp;<br/></div><div class="tour_modal_closer" onclick="void(0)" data-modal_closer="true" data-modal_id="task_shot">close</div></div>
      <div class="section_rule">&nbsp;</div>
    <div class="span-18 last" onclick="void(0)" data-modal_trigger="true" data-modal_id="labels_shot" >
      <div class="span-18 last"><div class="span-13"><h2>Label List</h2></div><div class="span-5 last green_text big_font  text_center highlight">click to preview</div></div>
      <div class="span-18 last">
        Your label list allows you to view tasks in groups that you create. Labels apply across all plans so you can get a list of tasks from all projects, for example, that require phone time.
      </div>
    </div>
    <div  class="form_modal" data-modal="true" data-modal_id="labels_shot" style="display:none;"><%= image_tag 'labels_shot.png' %>
      <div>&nbsp;<br/></div><div class="tour_modal_closer" onclick="void(0)" data-modal_closer="true" data-modal_id="labels_shot">close</div></div>
    <div class="section_rule">&nbsp;</div>
    These screen shots don't include all the views, features and information available, for example: some only show the top portion of the screen for brevity. They also don't show the title bar, which is similar to what you see at the top of the screen now. <a href="/page/Pricing">Click here to sign up and see the full app.</a>
</div>
