<h2>Project:</h2>
<%= form_for @project, :url => plan_url(@project), :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'project_title',
	:'data-ajax_error_element' => 'project_title'
} do |f| %>
	<%= f.text_field :title %>
	<%= hidden_field_tag 'attribute', 'title' %>
	<button type="submit" class="row_item button round small light ">save title</button>
	<div class="row_item last padding_top_button small">&nbsp;or
	<%= link_to '(cancel)', plan_url(@project),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'project_title',
		:'data-ajax_data' => "{attribute: 'title'}"%>
	</div>
<% end %>
