<h2>Description</h2>
<%= form_for @project, :url => plan_url(@project), :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'project_description',
	:'data-ajax_error_element' => 'project_description',
	:id => 'edit_project_description'
} do |f| %>
	<%= f.text_area :description, :rows => 3, :'data-role' => 'none' %>
	<%= hidden_field_tag 'attribute', 'description', :id => 'attribute_description_field' %>
	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">save description</div></div>
	<div class="row_item last padding_top_button small">&nbsp;or
	<%= link_to (@project.description.blank? ? '(leave blank)' : '(cancel)'), plan_url(@project),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'project_description',
		:'data-ajax_data' => "{attribute: 'description'}"%></div>
<% end %>
