<% if @project.due_date.blank? %>
	<%= link_to 'add a due_date', edit_plan_url(@project, :attribute => 'due_date'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'project_due_date'
	%> &rarr;
<% else %>
	<div class="span-3">
		<h2>Due Date</h2>
	</div>
	<div class="span-15 last">
    <div class="list_action attach_above">
  		<%= link_to 'edit due_date', edit_plan_url(@project, :attribute => 'due_date'),
  		 	:'data-ajax_behavior' => 'ajax_link',
  			:'data-ajax_method' => 'GET',
  			:'data-ajax_success_element' => 'project_due_date'
  		%>
    </div>
	</div>
	<div class="span-18 last section"><%= @project.due_date.to_formatted_s(:full) + ' ' + @project.due_date.zone %></div>
<% end %>
