<div class="row">
<div class="row_item">
<h3>Description</h3>
</div>
<div class="row_item last h3_padding list_action">
	<span onclick="void(0)" href="<%= edit_plan_url(@project) %>"
	 	data-ajax_behavior="ajax_link"
		data-ajax_method="GET"
		data-ajax_success_element="project_description"
		data-ajax_data="{'attribute':'description'}"
		class="small"
	><%= (@project.description.blank? ? 'add description' : 'edit description') %></span>
</div>
</div>
<% unless @project.description.blank? %>
<div class="block">
  <%= @project.description %>
</div>
<% end %>  
