<div class="span-14">
  <h2><%= @project.title %></h2>
</div>
<div class="span-2 last text-right">
	<%= link_to 'edit title', edit_plan_url(@project, :attribute => 'title'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'project_title'
	%>&nbsp;&nbsp;
</div>
