<div class="row">
<div class="row_item">
	<h3>Sharing</h3>
</div>
<% if @project.user_id == @this_user.id %>
<div class="row_item last h3_padding list_action">
	<%= link_to (@project.shared? ? 'edit sharing' : 'add sharers'), edit_plan_url(@project, :attribute => 'sharing'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'project_sharing',
		:class => 'small'
	%>
</div>
<% end %>
</div>
<div>
  <% if @project.user_id == @this_user.id %>
    <% if @project.sharers.count > 0 %>
      You are sharing this plan with
      <%= to_str_list(@project.sharers.map{|s| "<strong>#{s.handle}</strong>"}).html_safe %>.
    <% else %>
      You aren't sharing this plan with any <%= DOMAIN_NAME %> users.
    <% end %>
  <% else %>
    This plan is shared with you by <%= @project.user.handle %>
  <% end %>
</div>
