<div class="row">
<div class="row_item">
	<h3>Due Date</h3>
</div>
<div class="row_item last h3_padding list_action">
	<span onclick="void(0" href="<%= edit_plan_url(@project, :attribute => 'due_date') %>"
	 	data-ajax_behavior=ajax_link
		data-ajax_method="GET"
		data-ajax_success_element="project_due_date"
		class="small"
	> <%= (@project.due_date.blank? ? 'add due date' : 'edit due_date') %></span>
</div>
</div>
<% unless @project.due_date.blank? %>
<div><%= @project.due_date.to_formatted_s(:full) %></div>
<%= render :partial => '/reminders/index', :locals => {:remindable => @project} %>

<% end %>
