<div class="borderless section">
  <div class="third_section<% if ['show','update'].include? action_name %> selected<% end %>"><%= link_to 'tasks', plan_url(@project) %>
    <div class="shadow_hide">&nbsp;</div>
  </div>
  <div class="third_section<% if action_name == 'comments' %> selected<% end %>"><%= link_to 'comments', comments_plan_url(@project) %>
    <div class="shadow_hide">&nbsp;</div>
  </div>
  <div class="third_section<% if action_name == 'edit' %> selected<% end %>"><%= link_to 'plan info', edit_plan_url(@project) %>
    <div class="shadow_hide">&nbsp;</div>
  </div>
</div>
