<div class="borderless section">
  <div class="third_section<% if ['show','update','multiple','show_full'].include? action_name %> selected<% end %>" data-tab_switcher="true" data-tab_target="project_page_<%= @project.id %>">tasks
    <div class="shadow_hide">&nbsp;</div>
  </div>
  <div class="third_section<% if action_name == 'comments' %> selected<% end %>" data-tab_switcher="true" data-tab_target="comments_project_page_<%= @project.id %>">comments
    <div class="shadow_hide">&nbsp;</div>
  </div>
  <div class="third_section<% if action_name == 'edit' %> selected<% end %>" data-tab_switcher="true" data-tab_target="info_project_page_<%= @project.id %>">plan info
    <div class="shadow_hide">&nbsp;</div>
  </div>
</div>
