<div class="borderless section">
  <div class="third_section<% if action_name == 'show' %> selected<% end %>"><%= link_to 'tasks', plan_url(@project) %></div>
  <div class="third_section<% if action_name == 'comments' %> selected<% end %>"><%= link_to 'comments', comments_plan_url(@project) %></div>
  <div class="third_section<% if action_name == 'info' %> selected<% end %>"><%= link_to 'edit plan', edit_plan_url(@project) %></div>
</div>
