<div class="span-17 last section_margin_top" id="header_wrapper">
	<h1>Archived Plans</h1>
</div>
<div class="span-17 last page_content">
  <div id="archived_item_heading" class="span-16 last">
		<h2>You got these done.</h2>
	</div>
	<div id="archived_items_wrapper" class="span-16 last archived section_wrapper" data-role="list">
    <div class="span-16 last line_item">
      <div class="span-9 text-center small">plan title</div>
      <div class="span-3 small">&nbsp;</div>
      <div class="span-3 append-1 last small">active tasks</div>
    </div>
		<% for project in @projects %>
			<div class="span-16 last" id="project_<%= project.id %>" data-role="list_item">
				<%= render :partial => '/projects/show', :locals => {:project => project} %>
			</div>
		<% end %>
	</div>
	<%= will_paginate @projects %>
</div>
