<div style="display:none;" class="form_modal help span-17 explanatory" data-modal="true" data-modal_id="contacts_intro_help">
  <h2>What are Contacts?</h2>
  Contacts are people you share plans with and people who share plans with you. You can share a plan in the 'info' tab for any plan that you create. Navigate to the plan you want to share, click on the 'info' tab, and click 'edit sharing' above the Sharing section.
  <br/>
  <div class="span-2 prepend-15 last">
    <span onclick="void(0)" data-modal_closer="true" data-modal_id="contacts_intro_help">(close)</span>
  </div>
</div>