<div class="help_dialog" data-behavior="expander" data-state="expanded" data-id="textile_formatting_help" style="display:none;">
  <div class="span-6 explanatory">
    <div class="span-6 last">
      <div class="span-5"
        <h2>Formatting Help</h2>
      </div>
      <div class="span-1 last">
        &rarr;
      </div>
    </div>
    <div class="span-6 last text_right">
      <span data-behavior="expander" data-action="contract" data-id="textile_formatting_help">(close)</span>
    </div>
    <div class="section_margin_top"><h3>Make a link:<h3></div>
    <div class="span-6 last">
      <div class="span-6 last">
        "Get Go":http://getgolist.com
      </div>
      <div class="span-1 prepend-1 append-4">
        &darr;
      </div>
      <div class="span-6 last">
        <a href="http://getgolist.com">Get Go</a>
      </div>
    </div>
    <div class="span-6 section_margin_top"><h3>Bold text:<h3></div>
    <div class="span-6">
      <div class="span-6">
        Notice the *emphasis*
      </div>
      <div class="span-1 prepend-1 append-4">
        &darr;
      </div>
      <div class="span-6 last">
        Notice the <b>emphasis</b>
      </div>
    </div>
    <div class="span-6 section_margin_top"><h3>Lists:<h3></div>
    <div class="span-6">
      <div class="span-6">
        * Each line<br/>
        * in this list<br/>
        * starts with an asterisk followed by a space<br/>
      </div>
      <div class="span-1 prepend-1 append-4">
        &darr;
      </div>
      <div class="span-6 last">
        <ul>
          <li>Each line</li>
          <li>in this list</li>
          <li>starts with an asterisk followed by a space</li>
        </ul>
      </div>
    </div>
  </div>
</div>